[2012-06-11 19:29] dgraziotin opened #1 "Daemonize mbpfan"
Let the program run in background as daemon
Let the program run in foreground

create a -f option (run in foreground)

[2012-06-11 19:30] dgraziotin opened #2 "Be verbose on request"
Create a -v option

<pre>
   if -v and daemon:
      log to syslog
   if -v and foreground:
      print to console
</pre>

[2012-06-11 19:34] dgraziotin opened #3 "Free up resources on SIGTERM and SIGINT"
Make the structures extern
Free up al mallocs on SIGTERM and SIGINT

[2012-06-11 19:35] dgraziotin opened #4 "Restart on SIGHUP"
Reload the settings on SIGHUP

[2012-06-11 19:37] dgraziotin opened #5 "Let the user specify a polling interval"
Add a -p option
Let the user specify how many seconds to wait before refresh

[2012-06-11 19:41] dgraziotin opened #6 "Complete header files"
Move all the declarations there.
Comment them.

[2012-06-11 19:44] #1 closed, assigned to nobody

[2012-06-11 19:45] #2 closed, assigned to nobody

[2012-06-11 19:46] dgraziotin opened #7 "Add make install"
Copy mbpfan to /usr/bin

[2012-06-11 19:46] dgraziotin opened #8 "Create init script and add it to make install"
Create a working init script and add it to make install

[2012-06-15 18:52] dgraziotin opened #9 "Handle .pid files"
int write_pid(int pid): Create a pidfile with the PID of the forked daemon at /var/run/mbpfan.pid
int read_pid(): Return the value of the PID file or 0

Create the pid on startup or die if it exists
Delete the pid when shutting down the program

[2012-06-15 19:07] #9 closed, assigned to nobody

[2012-06-15 19:13] #7 closed, assigned to nobody

[2012-06-15 19:47] #8 closed, assigned to nobody

[2012-06-15 19:49] dgraziotin opened #10 "Add tests and make tests command"
Even if this program comes WITHOUT ANY WARRANTY, its malfunctioning may case serious issues.
Therefore, before going public, add a tests suite to be run with make tests.

[2012-06-16 09:03] #10 closed, assigned to nobody

[2012-07-03 08:12] dgraziotin opened #12 "Investigate about fanX_manual and fanX_output"
As was pointed out by [this pull request](https://github.com/dgraziotin/Fan-Control-Daemon/pull/11),
setting 0 for fanX_manual works for me when changing the fan speed using fanX_min. However, this behavior looks bad and does not work for everybody.
Investigate about setting  fanX_manual to 1 and changing the fan speed using fanX_output instead

[2012-07-03 08:29] #6 closed, assigned to nobody

[2012-07-03 08:30] #12 closed, assigned to nobody

[2012-07-26 05:03] allanmcrae opened #14 "Buffer overflow"
In two places in mbpfan.c there is:

  char number[1];
  sprintf(number,"%d",0);

sprintf puts a trailing '\0' so the char array needs to be of size 2.

[2012-07-26 05:06] allanmcrae opened #15 "Incorrect number of dectected sensors outputed"
The following is always outputted, regardless of the actual number of sensors detected:

Found 10: sensors and ? fans

[2012-07-26 05:11] allanmcrae opened #16 "Add newlines to the end of output messages"
Most of the output messages need newlines added at the end to prevent them rolling into one another.

[2012-08-22 14:02] #14 closed, assigned to dgraziotin

[2012-08-22 14:02] #15 closed, assigned to dgraziotin

[2012-08-22 14:05] #5 closed, assigned to nobody

[2012-08-22 20:17] #16 closed, assigned to dgraziotin

[2012-08-22 20:39] dgraziotin opened #18 "Refactor this mess"
Need to refactor many things.

For example, struct s_sensors should be moved to a header file (e.g., mbpfan.h) and made extern. The tests should use the same definition.

The contribution to the C code have a different coding style. I shall verify the most "standard" one and use only the same for the whole code.

Extra point: suppress all the

[code]

[2012-08-23 20:32] #18 closed, assigned to dgraziotin

[2012-08-25 00:05] akatrevorjay opened #20 "Daemon freezes on startup at 100% cpu"
This is only with kernel 3.[5-6] on a MacBook Pro 8,3 booted via EFI (handoff protocol).
Reproducible every time.

I'll provide an strace later; is there anything else you'd like me to do?
My C is limited as of yet, but I'm willing to help however I can.

[2012-09-26 11:28] dgraziotin opened #22 "Exit if applesmc and coretemp are not loaded"
And preferably warn the user about this.

[2012-09-26 11:28] dgraziotin opened #23 "Exit if not run as root"
And warn the user about this.

[2012-10-19 16:25] #23 closed, assigned to nobody

[2012-10-19 18:15] #22 closed, assigned to dgraziotin

[2012-10-19 18:27] dgraziotin opened #24 "Archlinux, Kernel 3.6.x: Fan constantly @ Max Speed"
Bug report received as an e-mail:

Machine: macbook pro 8,2 late 2011
Issue: mbpfan keeps the fan constantly at maximum speed
Environment: Archlinux, Linux kernel 3.6.2-1.

Probably related to #20.

[2012-10-19 18:30] dgraziotin opened #25 "Archlinux, Kernel 3.6.x: Fan constantly @ Max Speed"
Bug report received as an e-mail:

Machine: macbook pro 8,2 late 2011
Issue: mbpfan keeps the fan constantly at maximum speed
Environment: Archlinux, Linux kernel 3.6.2-1.

Probably related to #20.

[2012-10-20 11:44] dgraziotin opened #26 "[Ubuntu 12.04] Multiple processes spanwed."
After a system start:
`ps aux | grep mbpfan`

<pre>
root      2514  0.0  0.0   2344   476 ?        Ss   13:41   0:00 /usr/sbin/mbpfan
root      2524  0.0  0.0   2344   476 ?        Ss   13:41   0:00 /usr/sbin/mbpfan
root      2534  0.0  0.0   2344   480 ?        Ss   13:41   0:00 /usr/sbin/mbpfan
root      2544  0.0  0.0   2344   476 ?        Ss   13:41   0:00 /usr/sbin/mbpfan
root      2554  0.0

[2012-10-20 11:47] #25 closed, assigned to nobody

[2012-10-20 15:20] #26 closed, assigned to dgraziotin

[2012-10-24 18:32] #24 closed, assigned to dgraziotin

[2012-10-24 20:40] #20 closed, assigned to dgraziotin

[2012-11-04 09:08] ghost opened #27 "Fails if applesmc and coretemp built into kernel instead of as modules"
mbpfan exits with an error stating that the modules aren't loaded. I had built them into the kernel instead.

Deleting the code in main.c that checks for the modules fixed it, but this is just a quick hack.

Maybe check whether applesmc.768 and coretemp.0 exist in /sys/devices/platform instead of checking the output of lsmod.

[2012-11-12 10:48] #27 closed, assigned to dgraziotin

[2012-11-18 18:18] dgraziotin opened #28 "More tests"
Some core functionalities are missing tests. Make tests.

[2012-11-18 21:16] #4 closed, assigned to nobody

[2012-12-22 04:19] obsoke opened #29 "[MBP 8,2][Arch][Linux 3.6] Fans not spinning up"
Hey.. first of all, thanks a bunch for maintaining this fork!

I've been running Arch Linux on my late 2011 MacBook Pro (8,2) and it's been a pretty decent experience. However, I feel like my CPU temps are a bit high:

[code]

Now that I think of it, I don't think I've ever heard the fans spin up while in Arch.
In MacOSX 10.8, temps idle around high 50s/low 60s and I can definitely hear the fans s

[2012-12-28 19:56] #29 closed, assigned to nobody

[2013-09-02 03:13] Krastanov opened #30 "It works on MacBookPro9,2"
Hi, thanks for providing this software. It seems to work correctly on MacBookPro9,2 under Debian Testing. The tests pass. I guess you can add this to your list in the Readme.

[2013-10-09 20:55] Yamakaky opened #31 "PKGBUILD"
Hi

As your software is really useful, I updated and uploaded on AUR a PKGBUILD for it. You should remove PKGBUILD-unmaintened on your repo and update the README.

https://aur.archlinux.org/packages/mbpfan-git/

Bye and thanks !

[2013-10-13 16:28] #30 closed, assigned to nobody

[2013-10-13 16:28] #31 closed, assigned to nobody

[2013-10-19 18:37] Yamakaky opened #33 "Unneeded file"
You should remove mbpfan.rc.archlinux-notmaintained, as ArchLinux now uses systemd.

[2013-12-31 21:30] bhcopeland opened #34 "pid file does not get deleted"
when I restarted the demon on ubuntu 13.10 using the init.d script the pid file does not get delete, so the demon does not restart properly.

[2014-03-25 06:35] sidequestboy opened #35 "After a long time (like a day) running, weird behaviour"
I run mbpfan with systemd. Here is the service file:

[code]

After running the service for about a day, the fans begin revving up and slowing down every 7 seconds. Restarting the systemd service fixes the issue.

[2014-05-11 15:54] Hoverbear opened #36 "Works on Macbook Air 5,2"
I also did a quick valgrind check of it running during a heavy compile, all seems alright.

[2014-05-14 07:12] #36 closed, assigned to nobody

[2014-06-19 10:51] oliviertilmans opened #38 "Cannot detect sensors"
Hello,

My setup: MBP9.1 -- Linux oli-laptop 3.15.1-1-ARCH #1 SMP PREEMPT Tue Jun 17 09:32:20 CEST 2014 x86_64 GNU/Linux

There are no tempX_\* files under /sys/devices/platform/coretemp.0/ ; which results in:

Instead they are under /sys/devices/platform/coretemp.0/hwmon/hwmon1/ (and I guess more generally they would be in hwmonX if I had multiple CPU's)

I patched for my case, but have no idea i

[2014-06-22 16:16] #38 closed, assigned to nobody

[2014-06-22 16:33] #35 closed, assigned to nobody

[2014-06-22 16:33] #34 closed, assigned to nobody

[2014-06-22 16:35] #33 closed, assigned to nobody

[2014-06-23 08:24] #28 closed, assigned to dgraziotin

[2014-06-23 09:39] Yamakaky opened #39 "PKGBUILD outdated"
I updated it today. In fact, I think you can delete it, as it's archlinux-only.

[2014-06-23 09:49] Yamakaky opened #40 "Improved mbpfan.service"
As systemd service are distro-independent, here is the one I suggest :

[code]

[2014-06-23 10:51] Yamakaky opened #41 "`git describe` problem"
Strangely, `git describe` on master refers to v.1.5.0, not 1.7. Any reason ?

[2014-06-24 16:41] oliviertilmans opened #42 "Handle corner-case where no sensors are detected"
In order to help detecting similar bug to the one that happened with Linux 3.15, I think something should be done when no sensors (or fans if for some reasons applesmc changes some day) are detected -- most likely, do nothing and report an error.

I am however not sure if killing the daemon if that's the case is the best thing to do, as for example with systemd it would respawn it automatically et

[2014-06-29 08:09] #40 closed, assigned to nobody

[2014-06-29 10:36] #39 closed, assigned to nobody

[2014-06-29 10:39] dgraziotin opened #43 "Exit with EXIT_FAILURE if something is wrong"
similarly, exist with EXIT_SUCCESS if nothing was wrong

[2014-06-29 10:43] #43 closed, assigned to nobody

[2014-06-29 10:48] dgraziotin opened #44 "Correct syslog use for priority codes"
Currently, only LOG_INFO is used.
See http://ftp.gnu.org/old-gnu/Manuals/glibc-2.2.3/html_chapter/libc_18.html

[2014-06-29 10:53] #42 closed, assigned to nobody

[2014-06-29 10:59] #44 closed, assigned to nobody

[2014-06-29 10:59] #41 closed, assigned to nobody

[2014-06-29 19:51] dgraziotin opened #46 "On exit, put back the fans to auto so that they are managed again by applesmc"
As suggested in #3 by @oliviertilmans

[code]

[2014-07-07 06:55] ahyangyi opened #47 "Remove "sudo" in Makefile"
I do not have sudo installed. Logging in as root I compiled and ran this tool, it suggested me to "sudo make test". Then I ran "make test", only to find it tries to sudo something. There sudo here is obviously redundant and should be removed (or at least test if the user actually has sudo).

I do understand that assuming the sudo command is available everywhere is probably reasonable. But I'd stil

[2014-07-27 17:16] #46 closed, assigned to nobody

[2014-07-27 17:47] #47 closed, assigned to nobody

[2014-07-27 18:20] oliviertilmans opened #51 "Cleanup Makefile"
At present it handles many different build config (e.g. building on windows NT, with VS compiler, etc -- while this is a _Linux_ daemon :p) as well as compile everything through g++ while the code is pure C.

Beside the cleanup, I'd add a _debug_ target (to carry the current -g build) and change the _all_ target to build with -O2 as well as edit the install rule to also strip the executable.

[2015-01-14 05:38] marji opened #52 "program won't start if stalled pid file exists"
It there is a pid file but the daemon does not run (stale pid file), the program stops with
"mbpfan: A previously created .pid file exists at: /var/run/mbpfan.pid. Aborting".

It should check the pid is running and if it is not, start as per normal.

[2015-01-14 05:41] marji commented on #52
Please review this pull request: https://github.com/dgraziotin/Fan-Control-Daemon/pull/53

[2015-01-27 08:25] kitt3n opened #54 "Doesnt seem to do anything at all on my macbook air 2014"
I tried this out; it doesnt start the fan at all! The macfanctld fan control works super though.

[2015-01-27 08:40] dgraziotin commented on #54
Hi, thank you for contacting.

Could you please provide more information?

What to the tests say?

What it the output of the -f -v flags?

[2015-01-27 10:41] kitt3n commented on #54
I am running Linux Mint 17.1 with kernel 3.15 because anything higher than 3.15 makes the fan spin 100% because of a coret?) I reinstalled macfanctld when I noticed my SSD was at 77 celcius...

~/Fan-Control-Daemon/bin $ sudo ./mbpfan -f -v
Writing a new .pid file with value 8692 at: /var/run/mbpfan.pid
mbpfan[8692]: Writing a new .pid file with value 8692 at: /var/run/mbpfan.pid
Successfully writ

[2015-01-27 10:46] dgraziotin commented on #54
Thank you very much. The -f -v output is perhaps too short for me to understand the issue completely.
I see that the fan speed was brought from 2000 rpms to 2420. I understand that with 72 degrees this is a too low number.

However, have you heard the fan increasing?

What happens if you let mbpfan run for more than 30 seconds? I would need 60-90 seconds. Don't worry, it won't burn your macbook.

[2015-01-27 10:57] kitt3n commented on #54
This seems to be an issue with the service script now, when I run it for a while, it slows down the fan but keeps it going on at the same temperature...not sure about the configuration file though, but the default is alright for testing http://pastie.org/9865096 when I had it installed; it simply didnt seem to start at all, possibly the pid thing?

[2015-01-28 07:50] kitt3n commented on #54
Can confirm the pid issue to be the problem for me. mbpfan did not start automatically on boot with the Ubuntu service file http://pastie.org/9867619 running it manually after removing the pid file worked though.

[2015-01-29 10:31] #52 closed

[2015-01-29 10:33] #3 closed

[2015-01-29 10:35] dgraziotin commented on #54
Thank you very much for your reports. There has actually been a recent pull request, which might solve your issue. Could you please try compiling from master and see if that works for you?

Thanks

[2015-01-30 08:10] kitt3n commented on #54
The pull request you merged fixed the start issue for me! :) I can also confirm that this works fine on Macbook Air 6,2 i5 4 gb.

[2015-01-30 09:35] dgraziotin commented on #54
Brilliant! @marji, thank you so much for your pull request.

[2015-01-30 09:35] #54 closed

[2015-01-31 09:07] Yamakaky commented on #41
I found the solution !
https://stackoverflow.com/questions/4154485/git-describe-ignores-a-tag
github seems to put simple tags, and git describe use annotated tags. With the --tags switch, the version is correct.

[2015-02-04 08:25] kitt3n opened #55 "mbpfan service spam on boot about applesmc and other things"
I keep seeing this when linux mint boots up http://pastie.org/9885308 first with a (fail) message in red, then a bunch of mbpfan service messages, and the paste in the logs under /var/log/upstart/mbpfan.log

[2015-02-07 22:29] philplckthun commented on #55
As there seems to be no one willing to answer this:

mbpfan doesn't work without the kernel modules: applesmc and coretemp.

Edit the “/etc/modules” file:

```sudo nano /etc/modules```

And add the following two lines:

[code]

Then reboot and it should work as expected.

[2015-02-08 08:37] dgraziotin commented on #55
@philplckthun thank you so much for taking care of this.
@kitt3n that should really do the trick! I will update the README file to at least give a hint on how to load modules when booting GNU/Linux.

[2015-02-12 07:48] kitt3n commented on #55
This seems to have done it, the fans were properly working before I had applesmc added to the modules list, but now the warnings are gone! Cheers :D

[2015-02-12 07:48] #55 closed

[2015-02-18 13:18] DonHansDampf opened #56 "Control the fanspeed?"
Hey there!

You deamon works great, even on a MacBook Air 2013. But is there some way to manually controll the speed? At 70°C the fan still goes around 5000RPM. Even under MacOS it would run so fast at this point.

So is there a way to configure the deamon?

Thanks

[2015-02-18 13:21] dgraziotin commented on #56
Hi,

You should be able to configure it using the file /etc/mbpfan.conf (see the default one [here](https://github.com/dgraziotin/Fan-Control-Daemon/blob/master/mbpfan.conf)). The file is [supposed to be copied there](https://github.com/dgraziotin/Fan-Control-Daemon/blob/master/Makefile#L65) when when you do a make install.

[2015-02-18 13:52] DonHansDampf commented on #56
Hey,

thanks for the fast response. I used the AUR-Package on Arch and somehow overlooked the config-file. My bad. Sorry.

Greetings

[2015-02-18 13:52] #56 closed

[2015-02-19 17:20] Yamakaky opened #57 "Add a changelog file"
Hi
Did you consider adding a changelog file to your repo ? See http://keepachangelog.com/.

[2015-02-21 11:45] dgraziotin commented on #57
Hello,

Yes, I did. Unfortunately, I do not have the time to curate a nice changelog (but thank you for the link, I was not aware of this website).

For the moment, I will keep using GitHub [Releases](https://github.com/dgraziotin/Fan-Control-Daemon/releases) with spare details, e.g., solved issues and some minimum notes.

Cheers!

[2015-02-21 11:45] #57 closed

[2015-03-29 09:45] dgraziotin opened #59 "Repository renamed to mpbfan"
Just to let you know, the repository was renamed from [dgraziotin/Fan-Control-Daemon](http://github.com/dgraziotin/Fan-Control-Daemon) to [dgraziotin/mbpfan](http://github.com/dgraziotin/mbpfan). Github should automatically redirect everything but, let's doublecheck!

[2015-03-29 09:46] dgraziotin commented on #59
@Yamakaky, can you verify if building from AUR still works? Thanks!

[2015-03-29 10:06] Yamakaky commented on #59
It works!

[2015-04-15 10:30] Sracinas opened #60 "Linux 4.0 detection"
Hello, I'm using arch linux with kernel 4.0 when i start mbpfan -t i get the following error:

Starting the tests..
It is normal for them to take a bit to finish.
Kernel major version is not 3.
Tests run: 1

The fix was released 18 days ago, but maybe there is something wrong with it.

[2015-04-15 11:21] dgraziotin commented on #60
Hi,

My bad, I have not updated the tests yet for the v.4.x.x kernels. You
should be good to go regardless.
I will update the tests asap and ping you.

On Wed, Apr 15, 2015 at 12:30 PM, Sracinas <notifications@github.com> wrote:

--
Daniel Graziotin

Orcid: http://orcid.org/0000-0002-9107-7681
Skype: dgraziotin
Twitter: http://twitter.com/dgraziotin
Website: http://ineed.coffee

[2015-04-29 18:25] SicVolo opened #61 "Shutting down fans"
Works great on ubuntu 15.04 with kernel 3.19 on MBP 12,1 (early 2015). Thank you! There is one annoying issue thought.
The default EFI ACPI is able to turn off the fan completely when the CPU temp is below 60. MBPFAN does not understand 0 as a min value though. If I set it to '1' it keeps the fan running all the time at 800RPM (probably the min the fan can handle).
Having the fan running continuou

[2015-04-30 08:03] dgraziotin commented on #61
I've also recently got a MBP 12,1. Still trying to allocate some time to install Ubuntu on it. Now, you are giving a great suggestion here that seems compatible with [mbpfan original philosophy](http://allanmcrae.com/2010/05/simple-macbook-pro-fan-daemon/). Yet, we must proceed carefully here in order to stick with the philosophy, that is:

- Keep the fan low up to a certain threshold
- Exponentia

[2015-04-30 15:34] SicVolo commented on #61
I ran sensors on my MBP ubuntu without the fan daemon and saw that EFI keeps the fan completely turned off when the system is in low usage, with no adverse effect on the cpu temp. It seems to me that the thermal profile of the early 2015 MBP is better than the previous generations. So, shutting the fan off below 60, having a minimum between 60 and 68 would be a good approach.

However I also notic

[2015-05-05 16:26] #59 closed

[2015-05-05 20:05] dgraziotin commented on #60
@Sracinas this has just been fixed in #62 and released in v1.9.1. Thank you for reporting this issue.

[2015-05-05 20:05] #60 closed

[2015-05-06 09:10] dgraziotin commented on #61
Alright, so I logged the temperature and the fan speed of the MBP using OS X 10.10.3 for about 1 hour, using [this R script](https://gist.github.com/dgraziotin/9fda0e2bdf0befed19cf) and @Chris911 [iStats](https://github.com/Chris911/iStats) (nice work!)

Here is a [CSV with the logged values](https://dl.dropboxusercontent.com/u/3366835/mbpfan/mbp.2015.cpu.temp.fan.speed.csv).

Here is a quick char

[2015-05-06 09:24] Matthias46 commented on #61
Just to make a point:

I strongly suggest to shut down the fan only on the latest Macbook Pro (Early 2015) because it has the Broadwell CPU. The refresh of Haswell, only manufactured at 14nm instead of 22nm.

Haswell Macbook Pro's should keep the fan rotating all the time at a low low rpm. That difference in manufacturing is very significant and practically only Broadwell and next Skylake CPU coul

[2015-05-06 09:34] dgraziotin commented on #61
To further elaborate on @Matthias46 comment, in case we decide to let mbpfan shut down the fans, there should be two different cooling algorithms in place. One is the current one, which is for Haswell and before models. The new one would work for Broadwell and the future generations.

[2015-05-06 09:41] Matthias46 commented on #61
I think that if it is possible and not too much difficult, is worth to let mbfan shut down the fans because this CPU could work fanless in a lot of situation where having the fan at 0 rpm leads to more comfort and more battery life:

- heavy writing
- light browser usage (without flash videos, just reading things and browsing normally)
- video watching (but keep in mind, only with Quicktime that i

[2015-05-06 18:05] SicVolo commented on #61
@dgraziotin. Great work with R and iStat, Dan.
Based on the CSV you captured it seems that OSX's fan controller does not just depend on the current CPU temperature, but uses the CPU **load** factor. It seems to anticipate the CPU temperature based on how busy the CPU is right now, and adjusts the fan accordingly. It also seems to keep the fan running longer even after the CPU temperature got below

[2015-07-22 00:05] BrendanEMahon opened #65 "Incorrect terminal command in readme"
The readme file for systemd says to issue the terminal command "sudo cp mbpfan.service /usr/lib/systemd/system".  After issuing that command it occurred to me that this was likely a directory with a collection of boot services.  I believe the command should be "sudo cp mbpfan.service /usr/lib/systemd/system/mbpfan.service".  I copied the original system folder over from /etc/systemd/system and I'm

[2015-07-22 21:36] zproc opened #66 "Test error? on latest Ubuntu with MBP 9,2 13""
Hello. On a Macbook Pro 9,2 13", i think i already used mbpfan without problem, and on the latest Ubuntu and latest Manjaro-XFCE (based on Arch with the AUR package) i get this when running the tests:

$ mbpfan -t
Starting the tests..
It is normal for them to take a bit to finish.
min_fan_speed value is not 6200
Tests run: 6

Is it an error? Is it problematic?
I find the macbook gets hot even whil

[2015-08-08 15:23] dgraziotin commented on #66
Sorry for the delay. Does the issue still persist?
Please make sure to reproduce it
- With a cold boot
- After using the macbook for a while

[2015-08-09 23:27] zproc commented on #66
The issue persisted and i think i had the same one on my Mac Mini late 2012 with Elementary OS (Ubuntu 14.04 based) (i know it's not a Macbook but i think i remember it working with this one too.)

Although, i can't try to reproduce it for now, as i found the Macbook was maybe too hot (i wasn't sure and i was afraid of bmpfan not working correctly as i didn't know what the error meant) i switched

[2015-08-11 12:26] dgraziotin commented on #66
I am glad that macfanctld is working fine for your case! Please open a new issue if you can replicate it.

[2015-08-11 12:26] #66 closed

[2015-09-16 23:18] zproc opened #68 "Test error: "min_fan_speed value is not 6200""
Hello again.

Macbook Pro 9,2 13" with Ubuntu 15.04, kernel "linux 3.19.0-28-generic" 64 bit

So, I re installed mbpfan and i still have the same problem and the issue persists:

$ mbpfan -t
Starting the tests..
It is normal for them to take a bit to finish.
min_fan_speed value is not 6200
Tests run: 6

I have this "error" after a cold boot and after having used the computer for a while.

[2015-10-09 07:40] markus-git commented on #68
Did you run the tests in a location with a test file in it?

I had the same error. Browsed the code a bit and found

    static const char *test_settings()
    {
        retrieve_settings("./mbpfan.conf.test1");
        mu_assert("min_fan_speed value is not 6200", min_fan_speed == 6200);
        ...
    }
in " mbpfan/src/minunit.c".

So, with a copy of the test file in the current directory, runni

[2015-12-20 10:38] X-s opened #70 "Upstart: Failed to connect to socket /com/ubuntu/upstart:"
hi, when i was try to use mbpfan on my macbook pro 12,1 (linux kenel 4.2), it has some problems.
can you help me?
i exec "sudo systemctl enable mbpfan.service", then term report to me "Created symlink from /etc/systemd/system/sysinit.target.wants/mbpfan.service to /etc/systemd/system/mbpfan.service."  that look like great, but when i copy mbpfan.upstart to /etc/init/mbpfan.conf and exec sudo start

[2015-12-20 10:40] Yamakaky commented on #70
`sudo systemctl start mbpfan`

[2015-12-20 15:23] X-s commented on #70
it good works, thanks man

[2015-12-20 15:23] #70 closed

[2015-12-22 01:30] malcolmlewis opened #72 "Buffer overflow when compiled with -D_FORTIFY_SOURCE=2"
Hi
After building without errors on the openSUSE Build service with the default rpm opt flags, running;

mbpfan -f -v

Results in a buffer overflow error, this is with the  4.1.13 kernel and openSUSE Leap 42.1, it works fine on SLED 11 SP4 (3.0.101 kernel) and seem to have tracked it down to;

diff -Naur a/src/mbpfan.c b/src/mbpfan.c
--- a/src/mbpfan.c	2015-05-05 14:53:12.000000000 -0500
+++ b/src

[2015-12-23 09:43] dgraziotin commented on #72
Hi, thank you for reporting this. I was actually not aware of the FORTIFY_SOURCE flag. I will investigate this in the upcoming weeks.

[2016-02-22 08:23] nodje opened #73 "Congrat, working out of the box for elderly-fan-noisy macbook-1.1!!"
just what the title says, it's a thank you message, you saved my ears in a few working cli.
Debian testing on an old Macbook 1,1
[code]
fan went instantly silent ... pfuh it feels so good :D
many thanks!

[2016-02-22 16:01] dgraziotin commented on #73
I am glad that it is working well. Care to share the distribution you are running on it? So that I can update the [README](https://github.com/dgraziotin/mbpfan/blob/master/README.md#tested-macbook-models) file

[2016-02-23 02:38] nodje commented on #73
It's a [MacBook1,1](https://en.wikipedia.org/wiki/MacBook) running **Debian Testing** based but discontinued [Crunchbang](https://www.bunsenlabs.org/) distrib.
So it's basically Debian, and you support that. What you should add in the README is that it actually works on MacBook1,1.

[2016-02-23 02:38] #73 closed

[2016-03-16 15:49] p-kozlov opened #75 "Gentoo ebuild"
It would be fine to have gentoo ebuild or overlay (can be hosted in github, no need to try to put it in official tree).

[2016-03-17 10:06] dgraziotin commented on #75
Absolutely. Care to write and test it?

[2016-03-17 10:11] #68 closed

[2016-03-17 10:14] dgraziotin commented on #65
You are correct. I wrote an [introductory tutorial for mbpfan and Ubuntu](https://ineed.coffee/3838/a-beginners-tutorial-for-mbpfan-under-ubuntu/). The tutorial uses the right path. I am also updating README.md. Thanks!

[2016-03-17 10:15] #65 closed

[2016-03-17 10:17] dgraziotin commented on #61
I am closing this issue for now. I will consider this issue in the future. Just do not have the time now.

[2016-03-17 10:17] #61 closed

[2016-03-17 12:22] andjscott commented on #75
I have a start [here](https://github.com/andjscott/overlays/blob/master/app-laptop/mbpfan/mbpfan-1.9.1.ebuild)

[2016-03-17 12:43] #72 closed

[2016-03-21 09:58] dgraziotin commented on #75
@andjscott thanks! Shall it be integrated in the official tree? Nothing against it.

[2016-03-27 13:13] andjscott commented on #75
@dgraziotin I've added my repo to gentoo's overlay list at https://overlays.gentoo.org. Overlays for gentoo are similar to Arch's AUR. Gentoo's layman can be used to add custom lists of ebuilds - having the ebuild there would probably be easier for people to install mbpfan.

[2016-04-02 10:24] #75 closed

[2016-04-28 06:15] wwoods opened #77 "New Ubuntu (16.04) uses systemd, not Upstart"
Therefore the directions for adding it as a service need to be modified to the instructions for systemd.

[2016-04-30 22:48] maxpaynestory commented on #77
Please guide me where to change inside the source in-order to get it running on 16.04. My Macbook fan is going crazy.

[2016-04-30 23:07] maxpaynestory commented on #77
I got it running by going inside the source folder and copying mbpfan.service to /etc/systemd/system folder

[code]

and then starting the service as sudo

[code]

[2016-05-01 00:25] wwoods commented on #77
Exactly, the readme just needs to be updated appropriately.
On Apr 30, 2016 4:07 PM, "Usama Ahmed" <notifications@github.com> wrote:

[2016-05-01 13:36] dgraziotin commented on #77
Yup. I'm just waiting to have Internet at home for fixing this. Meanwhile:
https://ineed.coffee/3838/a-beginners-tutorial-for-mbpfan-under-ubuntu is
already updated
On Sun, 1 May 2016 at 02:25, Walt Woods <notifications@github.com> wrote:

[2016-05-02 09:26] #77 closed

[2016-05-13 10:29] norbertfuhs opened #78 "Ubuntu 16.04 sudo make install busy"
Hi I tried to compile mbpfan but all i get is this:

noby@Jupiter:~/Downloads/mbpfan$ lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04 LTS
Release:        16.04
Codename:       xenial
noby@Jupiter:~/Downloads/mbpfan$ make
Linking...
g++  -g -lm src/minunit.o src/settings.o src/daemon.o src/mbpfan.o src/main.o src/strmap.o -lm -o bin/mbpfan
noby@Jupit

[2016-05-14 14:31] dgraziotin commented on #78
That is odd. Does this still happen after rebooting?

————————————————
Daniel Graziotin
Twitter: http://twitter.com/dgraziotin
Website: http://ineed.coffee

On 13 May 2016 at 12:29:58, norbertfuhs (notifications@github.com) wrote:

Hi I tried to compile mbpfan but all i get is this:

noby@Jupiter:~/Downloads/mbpfan$ lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description: U

[2016-05-14 17:42] norbertfuhs commented on #78
Yes t still happens after rebooting ...
I Installed mbpfan earlier on Ubuntu 15.10 and had now problems but after upgrading to 16.04 I just wanted to reinstall it..

coretemp and applesmc are loaded correctly:

oby@Jupiter:~/Downloads/mbpfan$ cd /sys/devices/platform/applesmc.768/
noby@Jupiter:/sys/devices/platform/applesmc.768$
noby@Jupiter:/sys/devices/platform/applesmc.768$ cat fan*_min
1500
no

[2016-05-15 19:03] dgraziotin commented on #78
Please provide the output of the following command series (to be executed within mbpfan source directory)

[code]

The last command is only if you have not yet configured your own mbpfan.conf file.

[2016-05-15 19:15] norbertfuhs commented on #78
CLOSED
It runs! Thanks I didi the following:[sudo] Passwort für noby:
noby@Jupiter:~/Downloads/mbpfan-1.9.1$ make
Linking...
g++  -g -lm src/minunit.o src/settings.o src/daemon.o src/mbpfan.o src/main.o src/strmap.o -lm -o bin/mbpfan
noby@Jupiter:~/Downloads/mbpfan-1.9.1$ sudo make install
make
make[1]: Verzeichnis „/home/noby/Downloads/mbpfan-1.9.1“ wird betreten
Linking...
g++  -g -lm src/minuni

[2016-05-15 19:15] norbertfuhs commented on #78
noby@Jupiter:~/Downloads/mbpfan-1.9.1$ ls
AUTHORS  Makefile     mbpfan.conf.test1   mbpfan.init.gentoo  mbpfan.service  README.md
bin      mbpfan.conf  mbpfan.init.debian  mbpfan.init.redhat  mbpfan.upstart  src
noby@Jupiter:~/Downloads/mbpfan-1.9.1$ sudo rm -r /usr/sbin/mbpfan
[sudo] Passwort für noby:
noby@Jupiter:~/Downloads/mbpfan-1.9.1$ make
Linking...
g++  -g -lm src/minunit.o src/settings.o

[2016-05-15 19:16] #78 closed

[2016-05-15 19:16] dgraziotin commented on #78
I have no explanation on what caused this bug, but I am really glad that it is working now. Cheers!

[2016-05-15 19:19] norbertfuhs commented on #78
I also have no explanation I'm glad it works now Thank you!

[2016-07-21 10:56] aviallon opened #81 "Tested on iMac mid-2011 (21.5 inches, 2.7GHz (actually 2.8)) also known as iMac 12,1"
Hello @dgraziotin !
I've tested mbpfanon my iMac mid-2011 (21.5 inches, 2.7GHz (actually 2.8)) also known as iMac 12,1 and it works **PERFECTLY** ! Thanks a lot man. I tested it with maximum CPU usage and temperature never exceeded 68°C !
I ran this command to test : `$ openssl speed -multi 64`.
I think you can add this model to your README.md. That's all.

[2016-07-21 11:13] aviallon commented on #81
I'm using Archlinux on kernel 4.6.4

[2016-07-21 11:37] #81 closed

[2016-07-21 11:38] dgraziotin commented on #81
Thank you again!

[2016-08-29 07:58] dgraziotin opened #85 "Configuration tests fail because of incorrect...test case"
A currently incorrect tests for for settings related to min fax speed are incorrect (tests whether min fan speed is 6200)

[2016-08-29 08:03] #85 closed

[2016-09-12 09:07] rdoursenaud opened #87 "Tested on MacMini6,2 (aka 2012)"
Not an issue per se.

Just wanted to report that I tested your software on my Mac Mini equipped with an i7-3615QM running Arch Linux kernel 4.7.3-4-ck.

The machine is now a bit noisy but I finally got rid of thermal throttling. Thank you!

Here's my config FWIW:
[code]

[2016-09-13 08:03] #87 closed

[2016-09-13 08:03] dgraziotin commented on #87
Hello, thank you very much for your report!

Daniel Graziotin
@dgraziotin
ineed.coffee

[2016-10-01 17:33] egorenar opened #88 "build failure with gcc-4.9.4"
Hi,

mbpfan cannot be built with gcc 4.9.4, at least on my MacBook with Void Linux.
With the below patch it compiles sucessfully.
Regards.

Errors:

[code]

And this is my patch to fix the problem:
[code]

[2016-10-02 06:08] egorenar commented on #88
Sorry, it was a problem on my side.
Compiling it with g++ instead of gcc solved the issue.
Thanks.

[2016-10-02 06:08] #88 closed

[2016-10-17 14:20] gktrk commented on #75
Hi,

I've added this package to the official Gentoo repo: https://packages.gentoo.org/packages/app-laptop/mbpfan

Feel free to update the instructions accordingly if you like.

[2016-10-17 20:08] dgraziotin commented on #75
That is great, thank you!

[2016-10-18 10:53] p-kozlov commented on #75
@gktrk awesome!

[2016-11-03 12:29] nmquyet opened #90 "Does mbpfan conflict with thermald?"
Hi,

I'm using `mbpfan` and it works correctly. However, following a archlinux installation guide, I do also install `thermald`. Should i leave both of them running at the same time or disable `thermald`.

[2016-11-03 12:38] dgraziotin commented on #90
Hello,

I am not familiar with thermald and have no experience with it. Mbpfan is built for Apple devices only, while thermald seems a one-size-fits-all solution. At a first glance yes, mbpfan seems in conflict with thermald with respect to setting the fan speed.

[2016-11-05 09:22] nmquyet commented on #90
Thanks, I will try to disable thermald.

[2016-11-05 09:22] #90 closed

[2016-12-13 11:56] benkonrath opened #92 "mbpfan doesn't work with CentOS 7.3"
Thanks for working on this application.

It looks like CentOS 7.3 uses the new sensor path so I made a custom build to skip the `is_legacy_kernel()` function and just hard code the new sensor path.  mbpfan worked fine for me on CentOS 7.2 so I'm pretty sure this is something updated in the kernel. Would it be possible to do feature detection (i.e. look for the new path, then the old path, then fai

[2016-12-13 18:12] gyakovlev opened #93 "*** buffer overflow detected ***: mbpfan terminated"
Hello,

mbpfan 1.9.1

running mbpfan -t instantly crashes with the following error.

[code]

Some system info
MacBookPro12,1 (rmbp-2015 13'')

[code]

brief build log

[code]

Let me know if you need more information. I'll be able to test/recompile it a little bit with some guidance.

[2016-12-13 18:25] gyakovlev commented on #93
interesting,
building without -02 solves the problem,
so it's flags passed by -02 cause it to crash.

[2016-12-13 18:34] gyakovlev commented on #93
Here is a backtrace from non-stripped binary compiled with _x86_64-pc-linux-gnu-g++ -c  -g  -O2 -g -fbuiltin -ggdb_
[code]

[2016-12-14 08:06] dgraziotin commented on #92
Hello and thank you for reporting this issue. I was not able to find a fork of mbpfan on your Github profile (I wanted to look at the paths that CentOS uses).

I hope I got it right: CentOS 7.3 has a 3.10 Linux kernel, but it uses the paths that I thought belonged to Linux kernel >= 3.15. Is that correct? Or does CentOS use a different path system?

[2016-12-14 08:13] dgraziotin commented on #93
Thank you for reporting this issue. Just to be sure, could you please give a try to the latest commit as well?

[2016-12-14 10:09] benkonrath commented on #92
I just cloned your repo but I've now made a fork. Here's the change that I made to get it to work:
https://github.com/benkonrath/mbpfan/commit/f83847a5e5cd326cc327ee2cab858535c6bde62a

I tested this with the stock CentOS kernel as well (I use the CentOS plus kernel for applehid support) it also uses the new sensor path. I'm a bit surprised actually. I know the the RHEL kernel backports features fr

[2016-12-14 10:13] benkonrath commented on #92
Sorry, I didn't actually answer your question. Yes, CentOS 7.3 has a 3.10 kernel but uses the paths from kernel >= 3.15. CentOS 7.2 also has a 3.10 kernel but uses the paths from kernel < 3.15.0 which is why mbpfan worked without problems on CentOS 7.2.

[2016-12-14 22:40] gyakovlev commented on #93
@dgraziotin Hey,

installed 3677caa5a8b99f3d3624fdec228987afec1a0b75, compiled with _-march=broadwell -O2 -pipe_ and it no longer crashes.

[2016-12-15 10:07] dgraziotin commented on #93
@gyakovlev That is great to know! I will tag a new release once I fix the other two issues I am seeing, so that the Gentoo package entry can be updated, too. Please open another issue if you see the bug again.

[2016-12-15 10:07] #93 closed

[2016-12-15 10:08] dgraziotin commented on #92
Thanks for reporting. The approach you suggest (checking the paths instead of kernel version) is likely the way to go. It might take a while :-)

[2016-12-28 15:51] dgraziotin opened #95 "core dump with clang"
As mentioned [here](https://github.com/dgraziotin/mbpfan/pull/91), mbpfan core dumps when compiled using clang. A fix is provided in the PR.

[2016-12-28 15:52] dgraziotin commented on #95
Fixed.

[2016-12-28 15:52] #95 closed

[2016-12-29 08:22] gyakovlev opened #98 "small gentoo rc script issue"
Hi!

Small issue, not worth opening pull request for that
in the file mbpfan/mbpfan.init.gentoo

1st line should be

```#!/sbin/openrc-run```

instead of current

```#!/sbin/runscript```

relevant information on gentoo bug tracker.
https://bugs.gentoo.org/show_bug.cgi?id=494220

[2016-12-29 15:44] fidalgo opened #99 "Contribute upstream"
Sorry for the off-topic, but what would involve to get this amazing work in a upstream project, to avoid the need to install third-party software?

[2016-12-29 17:57] dgraziotin commented on #99
Hello! Not sure if I get it with the third-party software part. mbpfan is as "pure" as it gets, as it is just C code. One needs to compile it, configure it, and that's it.

Anyway, if with _upstream_ you mean to have it pre-compiled and/or packaged for GNU/Linux distros, here is what I am aware of.

Mbpfan is currently available for:
- [Gentoo](https://packages.gentoo.org/packages/app-laptop/mbpfa

[2016-12-29 18:03] #98 closed

[2017-01-01 17:06] benkonrath commented on #92
@dgraziotin Thanks for working on this issue. I just tested the  new-legacy-kernel-detection branch and it is working on CentOS 7.3. Here's what shows up in `/var/log/messages`:

[code]

[2017-01-02 10:38] fidalgo commented on #99
By upstream I mean, merge this work with some other software like lm_sensors.

[2017-01-05 02:42] rmusial commented on #92
Tested on Ubuntu 16.10/4.8.0-32-generic #34-Ubuntu using using Clang, so far so good.

[2017-01-22 20:52] eNcacz opened #101 "buffer overflow"
Hi,
I'm trying to use mbpfan on Gentoo Linux installed on my MacBook Pro but it crashes immediatelly after start.
The stacktrace and some info about my configuration are in this gist: https://gist.github.com/eNcacz/a9d5bedfd4cb0b2c33c9341f98a0aae7
Don't hasitate to ask me for additional information if you need it.

[2017-01-22 21:12] dgraziotin commented on #101
Hello,

Is it mbpfan v1.9.1 or is it from master here?

[2017-01-23 08:37] eNcacz commented on #101
It is mbpfan v1.9.1 - installed from official gentoo portage repository
[code]

[2017-01-23 08:39] dgraziotin commented on #101
Please try a manual installation of the most actual code. I’ve seen another bug report from a Gentoo user. Might be already fixed.
Daniel Graziotin
@dgraziotin
ineed.coffee

[2017-01-23 10:09] eNcacz commented on #101
I have tried to unmask and install mbpfan version 9999 from official gentoo repository (which is AFAIK the latest version from the github repo) and now it works well.
So my problem is solved now.
Thanks

[2017-01-23 10:09] #101 closed

[2017-02-24 20:39] CalamarJuan opened #102 "mbpfan on iMac27 mid2011 not working"
Hello and thanks for this precise tutorial, it is very clear and simple to follow.
Unfortunately in my case it did not do what I needed, maybe someone here has a similar issue:
I have an iMac27 mid2011 with Ubuntu 16.04, native installed (no iOs at all), and now changed the HDD into SSD.
Since then, the fan nr.2 starts rising more and more up untill it reaches aprox. 5.500.
This machine has 2 main

[2017-04-02 16:34] dgraziotin commented on #51
Fixed in #104 [can you believe it?!?]

[2017-04-02 16:34] #51 closed

[2017-04-02 16:40] dgraziotin commented on #99
closing this as not planned so far

[2017-04-02 16:40] #99 closed

[2017-04-02 16:48] dgraziotin opened #105 "Memory leak in retrieve_sensors()"
As reported by valgrind

[code]

path_begin needs to be free'd up

[2017-04-02 16:51] #105 closed

[2017-04-02 17:00] #92 closed

[2017-04-02 17:29] dgraziotin opened #106 "Update AUR for mbpfan v2.0.0"
There is the need to update [mbpfan AUR entry](https://aur.archlinux.org/packages/mbpfan-git/) for v2.0.0.

[2017-04-02 17:30] dgraziotin commented on #106
@Yamakaky, I know you will never believe I actually released it. Are you still willing to update AUR?

[2017-04-02 17:35] dgraziotin opened #107 "Update Gentoo portage entry for mbpfan v2.0.0"
There is the need to update [mbpfan Gentoo entr](https://packages.gentoo.org/packages/app-laptop/mbpfan)y for v2.0.0.

[2017-04-02 17:35] dgraziotin commented on #107
@gktrk, would you kindly be able to look at this?

[2017-04-02 17:50] dgraziotin commented on #102
Hello @CalamarJuan. Could you please checkout out [mbpfan v2.0.0](https://github.com/dgraziotin/mbpfan/releases/tag/v2.0.0) to see if that is still the case?

[2017-04-02 18:31] Yamakaky commented on #106
Done!

[2017-04-02 20:04] dgraziotin commented on #106
Many thanks!

[2017-04-02 20:04] #106 closed

[2017-04-02 20:12] gktrk commented on #107
I've bumped the package to 2.0.0: https://gitweb.gentoo.org/repo/gentoo.git/commit/?id=9672119f6f9cab2a67bb0167cf8170032fdd07bd

[2017-04-02 20:20] gktrk commented on #107
I've also created a PR to update the install instructions: https://github.com/dgraziotin/mbpfan/pull/109

Thanks for the prompt notification!

[2017-04-02 20:26] gktrk opened #110 "Makefile: Remove the make statement from the install: target"
We should consider removing the `make` statement in the `install:` target because it does not respect the `-j` switch passed from the parent (especially if someone calls the `install` target before `all`) and also re-links mbpfan unnecessarily if it's already linked.

In my particular case, I override CC during compilation by passing `make CC=x86_64-pc-linux-gnu-gcc` which links mbpfan successfull

[2017-04-02 20:52] gktrk commented on #110
Proposed fix: https://github.com/dgraziotin/mbpfan/pull/111

[2017-05-03 18:20] LukeLR opened #114 "Exceeds maximum fan speed on iMac 27" late 2012"
@Hello everyone,
first things first: thanks A LOT for your awesome work in this project. We need more such small open source tools like this one, they save lifes :smile:

Regarding the issue: I just compiled and installed using the Arch Linux AUR-Package on my iMac 27" late 2012 running 4.10.11-1-ARCH. After launching, my fans went immediately WAY over the maximum: The maximum fan speed for my iMa

[2017-05-31 22:19] Ndolam opened #117 "minor programming issue"
In main.c in check_requirements() in two places opendir() might be called without calling closedir().
This only happens if coretemp and/or applesmc are built in but not modules.
I believe you want to add closedir(dir) after the "if (ENOENT == errno)" block in two places.

Incidentally, is it not the case that the opendir()... check subsumes the popen(lsmod|grep) code?
If so, you could eliminate a

[2017-05-31 22:23] Ndolam opened #118 "bad macro definitions"
In mbpfan.c there is the code
#define min(a,b) a < b ? a : b
#define max(a,b) a > b ? a : b
which is buggy.  The bug issn't manifested in the current code, but to protect against future changes
I suggest you use
#define min(a,b) ((a) < (b) ? (a) : (b))
#define max(a,b) ((a) > (b) ? (a) : (b))
which makes the macros safer when an argument might be a complex expression.

[2017-06-13 09:47] lifehome opened #119 "Perhaps a config file or override toggle?"
**tl;dr** As long as the daemon is running, it seems that a manual override is impossible at all, as the daemon itself is constantly monitoring and sending a manual value to the SMC.

So perhaps a config file, or even better a "manual override" in case of contingency?

---
## What happened?
Just last Friday, my phone was ringing all around the noon, and a fatal alarm is triggered due to malfunctio

[2017-06-17 21:47] ohthehugemanatee opened #120 "mbpfan ignores some of my sensors"
mbpfan seems to only take my CPU core sensors into account. This is a problem, since there are lots of areas on my laptop that heat up, and the same fan is supposed to keep them all cool. Here's a sample output from `sensors` and `sudo service mbpfan status`:

[code]

Note that sensor TPCD is reading 78 degrees, but mbpfan only cares that the core is at 66. I'm on a late 2012 Macbook pro, running

[2017-06-19 07:32] dgraziotin commented on #119
Thanks for the suggestion. Sounds like a nice improvement. Just to be sure. What you are asking is a way way for telling mpbfan to just sit there and do nothing instead of having to kill mbpfan. Did I get it right?

I am not sure about the fan*_manual thing. It is my understanding that mbpfan needs to do this (that is, claim manual control of fans) in order to have applesmc do nothing about them.

[2017-06-19 08:00] lifehome commented on #119
Thanks for considering this as an enhancement!

Sorry for the confusion, as the fact I am suggesting adding a command like `mbpfan --setspeed 5500` to lock fan speed until next reboot(reset to default), or another command.

On the other side, the configuration file suggests desired sets of temperature and fanspeed. Once the ambient or core or sensor temperature reach the configured level, mbpfan w

[2017-06-19 09:13] dgraziotin commented on #119
Ah, you mean to have mbpfan act as a wrapper for the "echo 5500 > /sys/devices/platform/applesmc.768/fan*_output" command, then? (and to have mpbfan just keep that value forever in the current session).

[2017-06-19 09:13] dgraziotin commented on #118
Thanks, will add this in the next minor revision!

[2017-06-19 09:17] lifehome commented on #119
Yes that's correct, since mbpfan will constantly set the fan speed value, it would be nice if mbpfan itself can set the speed value too.

[2017-06-19 09:18] dgraziotin commented on #117
adding `closedir(dir)` after `if (ENOENT == errno)` makes sense, thanks.

now, regarding using opendir() and remove popen(). It also actually seem to make sense. After all, if no modules are loaded (or built-in), the path won't exist. Is that what you are suggesting here?

[2017-06-19 09:21] dgraziotin commented on #120
Hello and thank you for this report. This seems to make sense, but it could add a lot of code complexity. The beauty of mbpfan is in its simplicity as it is supposed to work on all systems (all systems do have a cpu, after all). But your case is interesting because it highlights a situation when mbpfan does its job but not efficiently. I will play with the sensors command and see what it does and

[2017-06-19 09:33] ohthehugemanatee commented on #120
Of course! I'd be happy to provide whatever information you need.

FWIW, this wasn't a problem when I ran Linux Mint based on Ubuntu 16.04. All the other sensor outputs appeared when I switched to Ubuntu 17.04 . So I guess that the kernel was bundling the sensors together before, and now keeps them separate?

Very happy to  give whatever information you need.

[2017-06-19 09:39] dgraziotin commented on #119
Hmm, that excites me less than a trigger to make mbpfan stay quiet.

If you need to have mbpfan sent the fan speed manually, you still need to kill mbpfan and rerun it with the --setspeed 5500 command.

That is the same numbers of steps required to to it with the echo command. I do not see much of an improvement. Unless I am not getting something?

[2017-06-21 09:23] #110 closed

[2017-06-21 09:27] #118 closed

[2017-06-21 09:39] #117 closed

[2017-06-21 09:41] dgraziotin commented on #114
Hello, I am assuming you [configured mbpfan](https://ineed.coffee/3838/a-beginners-tutorial-for-mbpfan-under-ubuntu/) before launching it?

[2017-06-21 09:44] #102 closed

[2017-06-21 10:07] dgraziotin commented on #120
So I did explore ` sensors` and the structure of `/sys/devices/platform/applesmc.768`.

Output of sensors
[code]

It is my understanding that the files at `/sys/devices/platform/applesmc.768` contain label (tempXX_label) and values (tempXX_input) for those sensors. For example, the last value reported by sensors for Tp2h is temp62 on my system:

[code]

I am not sure how the rounding (44->43.8) wo

[2017-06-21 10:07] #120 closed

[2017-06-21 10:08] dgraziotin commented on #119
closing this up to when it is clear that it is needed.

[2017-06-21 10:08] #119 closed

[2017-08-10 18:43] DougBeney opened #133 "How can I find out if I have "coretemp" and "applesmc"?"
Hi,

Thank you very much for releasing this. My Mac seems to be running much cooler after installing.

I just wanted to be sure that I have coretemp and applesmc loaded. Is there a way to do that?

I'm running Solus on a mid-2015 Macbook Pro 15".

[2017-08-10 19:11] dgraziotin commented on #133
Hi, thanks! If it keeps running, it means you are ok. Otherwise, it would exit immediately.
Anyway, a classic to check the existence of a kernel module is
`lsmod |grep modulename`
where _modulename_ is either coretemp or applesmc.

[2017-08-10 19:15] DougBeney commented on #133
Awesome, thanks!

[2017-08-15 11:51] yulert opened #136 "Test suite does not fully run because of polling interval value"
Hello,

I have installed mpbfan via the AUR on Manjaro (Kernel 4.9.4) and although the systemctl service seems to be running I am not sure is doing anything. I am not even sure the config file is being read. I am using a late 2014 macbook pro.

As per the installation instructions, I decided to run the tests to ensure everything is OK but the test suite fails to complete with:

sudo mpbfan -t
Star

[2017-08-30 12:36] linuxpng opened #138 "[Request] Options for less logging via syslog"
The default for mbpfan to log to syslog seems to be every 7 seconds via the "polling_interval" option in mbpfan.

1) Does this option only control how often the speed changes are logged via syslog?
1a) If so the generated config file could you some clarity in what this field is actually doing.

2) If not, is there a way to make mbpfan less chatty in syslog output?

$ head -n1 /var/log/syslog
Aug 3

[2017-08-30 13:31] andrewgaul commented on #138
One of the commits from #135 should address this. @sasanj

[2017-08-30 13:33] dgraziotin commented on #138
Folks, thank you so much for all these PR! I am notoriously slow to review them, but eventually they will get through.

Dr. Daniel Graziotin
@dgraziotin
ineed.coffee

[2017-08-30 22:38] sasanj commented on #138
For a temporary fix, simply open this file `/lib/systemd/system/mbpfan.service` and remove '`v`' flag from the line [`ExecStart=/usr/sbin/mbpfan -fv`](https://github.com/dgraziotin/mbpfan/blob/bd92a25b3dc7bffb576eed556d86831f33fc1dce/mbpfan.service#L8), save and restart service (`systemctl restart mpbfan`).

[2017-09-03 15:01] fellipeh opened #139 "MBP 2012 .. fan always on 6200rpm with 50C on Fedora 26"
Hi,

My fan always on 6200rpm on 52C... it's normal?
I run all test of mbpfan and *all* passed...I have mbpfan as service, and started...

I'm using Fedora 26...

It's normal?

[2017-09-03 19:51] sasanj commented on #139
From where these measurement come from? What are the contents of the configuration file?

[2017-09-03 20:26] dgraziotin commented on #139
Also, are you doing CPU-intensive tasks?

Dr. Daniel Graziotin
https://ineed.coffee/
Sent from a mobile device. Sorry for brevity / typos.

[2017-09-06 23:39] dmutters opened #140 "(Testing Report) Works with Mac Pro 3,1"
I didn't see any contact info, so I figured I'd drop this here.
I just installed mbpfan on a dual Xeon Mac Pro 3,1 from early 2008, and it works great.  Thanks!

[2017-09-06 23:44] andrewgaul commented on #140
@dmutters Can you submit a pull request adding this to https://github.com/dgraziotin/mbpfan#tested-macbook-models?

[2017-09-07 01:47] dmutters commented on #140
Done.

[2017-09-07 01:47] #140 closed

[2017-09-07 04:04] andrewgaul commented on #140
@dmutters I don't see you pull request here:

https://github.com/dgraziotin/mbpfan/pulls

[2017-09-07 04:22] dmutters commented on #140
I edited the Readme.md file and clicked, "propose file change".  Sorry, I'm new to github; if there's a better method, please let me know.

[2017-09-08 15:20] rmmm commented on #139
Hello @fellipeh

I am running a Mid-2012 MacBook Pro on Fedora 26 and have not experienced this issue. Do you have lm-sensors installed? If not, please install it using `dnf install lm_sensors`.

Then please provide the output of running `sensors`. For example...

mbp:~ $ sensors
coretemp-isa-0000
Adapter: ISA adapter
Package id 0:  +39.0°C  (high = +87.0°C, crit = +105.0°C)
Core 0:        +39.0°C

[2017-09-30 09:48] ellipticaldoor opened #141 "Replicate macos fan behaviour to avoid overheating"
I hace a MacBookPro11,5 from 2015,

When I run linux with mbpfan it works, if I play a game or something cpu intensive the fans increase their speed.

The thing is that most of the time is fans are silent when I use linux. If a restart into macos the fans immediately because the laptop was very hot.

I reboot again into linux the fans stop until the temperature increments a lot more.

I'm worried

[2017-09-30 18:32] gaul commented on #141
Can you run `dmesg` to see if it contains overheating warnings?  The CPU will actually run at lower frequencies if cooling is not sufficient.  mbpfan should avoid this situation although it may require some tuning of `high_temp` in `mbpfan.conf`.

[2017-10-01 09:13] ellipticaldoor commented on #141
I did
[code]

but I didn't found nothing.

Do you have any advice for tuning mbpfan.conf?

[2017-10-01 09:22] dgraziotin commented on #141
Hi Miguel,

To doublecheck, are you sure that mbpfan is actually running?

    ps aux | grep mbpfan

should return something.

Also, you are not running any other fan control system, are you?

Cheers,

Dr. Daniel Graziotin
https://ineed.coffee/
Sent from a mobile device. Sorry for brevity / typos.

[2017-10-04 08:50] dgraziotin commented on #138
Fixed in #135 and merged in master. Will release a new public version today.

[2017-10-04 08:50] #138 closed

[2017-10-04 13:57] dgraziotin commented on #136
Hi,

We are in the process of rewriting certain parts of the tests. Mbpfan v2.0.2 (but also v2.0.0 from AUR) should work fine anyway.
Tests run with sudo only, as also mbpfan needs sudo access.

[2017-10-04 13:57] #136 closed

[2017-10-07 16:49] ellipticaldoor commented on #141
Yes it's running and I don't have any other fan control system

[2017-10-07 17:39] gaul commented on #141
Please run `mbpfan -f -v` and let's see what the state of the sensors and fans are.

[2017-11-26 19:36] BeratAdemi opened #145 "polling_interval is not 1"
I installed mlbfan on my Macbook Air 2015 (7,2) and when I run the tests it shows the output "polling_intervall is not 1".

I tried to change the polling_intervall in the config file but that did not seem to make any difference.

Is that something to be concerned about?

[2017-12-03 01:53] davidak opened #146 "rename to macfan"
It does not only work on MacBook Pros, but also on other Mac hardware. This would clarify the purpose and prevent confusion with the original script and is similar to thinkfan.

But would break some packages downstream. It could be forked again in the next version. Or should we just name our service different in NixOS? (https://github.com/NixOS/nixpkgs/issues/32266)

[2017-12-03 15:18] dgraziotin commented on #146
Hi, thank you for your suggestion.
I have renamed this project once already. It used to be called Fan-Control-Daemon. Renaming it has been a bit of a pain back then (some distros had incorporated it already). Renaming it once again would be even more confusing--people also [talk about it to some extent](https://www.google.de/search?q=%22mbpfan%22&)). While you are perfectly right with your reasoni

[2017-12-03 15:18] #146 closed

[2017-12-03 17:03] davidak commented on #146
I understand and respect your choice.

[2017-12-04 01:27] nvrslpn opened #147 "I think i have a perms issue"
Hello, thank you so much for creating this source for everyone to use. that's very nice of you, very old school of you too, love it! That said, after installing, compiling, running and and configuring, I get a little bit different read out when I look at my running processes than what you stated should be. I think this is leading to the program not having the right perms to run when its needed. Th

[2017-12-25 06:19] martrs opened #148 "fans run after wake-up from suspend"
I noticed that every time iMac wakes up from suspend mode, the fan starts running. I use Fedora 27 with systemd running the mbpfan daemon on a  2012 iMac.

The fan was quiet before suspend, so I don't think any processing changed since then.
I waited for several polling intervals (like a minute) but no change in fan speed.

The only time the fan becomes quiet again is if I restart the daemon using

[2017-12-25 15:35] lemontrachet opened #149 "is this a problem?"
Thanks for the app. The fans seem under control. In your tutorial, you say I should look for a line ending -fv. I have the following:

/usr/sbin/mbpfan -f

Is this ok?

OS is latest Ubuntu 16

Thanks again

[2017-12-25 16:00] dgraziotin commented on #149
Hi! Yes, this was a recent change. Will update accordingly. All is well.

Dr. Daniel Graziotin
https://ineed.coffee
@dgraziotin

On 25. December 2017 at 16:35:38, lemontrachet (notifications@github.com(mailto:notifications@github.com)) wrote:

[2017-12-25 16:01] lemontrachet commented on #149
Thanks and merry Christmas!

On 25 Dec 2017 16:00, "Daniel Graziotin" <notifications@github.com> wrote:

[2017-12-26 09:23] #149 closed

[2017-12-26 09:26] dgraziotin commented on #147
Hello, the missing _v_ part is not an issue (see #149). The initial kick of the fans is also normal. If you notice that the fans are changing their speeds whenever you use heavier apps, it seems it's working. Please note you can change mbpfan behavior by tweaking the settings.

[2017-12-26 09:27] #147 closed

[2017-12-26 09:27] dgraziotin commented on #141
Please reopen in case you are still facing issues.

[2017-12-26 09:27] #141 closed

[2017-12-26 09:28] dgraziotin commented on #114
Please reopen in case you are still facing issues.

[2017-12-26 09:28] #114 closed

[2017-12-26 09:28] dgraziotin commented on #139
Please reopen in case you are still facing issues.

[2017-12-26 09:28] #139 closed

[2017-12-26 09:29] dgraziotin commented on #145
Hello, can you please try with the latest released version and open this again in case it is still happening? Cheers

[2017-12-26 09:29] #145 closed

[2017-12-26 09:31] dgraziotin commented on #148
Hello, mbpfan is not supposed to be bothered by suspend/wakeup, but it is worth investigating.
Are you using Fedora's default kernel, which I think is 4.13.x?
I have a 2016 iMac at work, will also check again what happens when suspending.

[2018-01-20 16:06] stefanark opened #150 "mbpfan could not detect any temp sensor"
. i have installed mbfan but when i run tests on my macbook 2,1 i have this:
make[1]: uscita dalla directory “/home/patato/Scaricati/mbpfan-2.0.2”
/usr/sbin/mbpfan -f -v -t
Starting the tests..
It is normal for them to take a bit to finish.
Using new sensor path for kernel >= 3.15.0 or some CentOS versions with kernel 3.10.0
Found hwmon path at /sys/devices/platform/coretemp.0/hwmon/hwmon0/temp
Fo

[2018-01-20 17:10] martrs commented on #148
I've been using Fedora 27 kernel since 4.11, now running 4.13.11. Same issue throughout.

I should also mention that I've replaced CDROM with 2nd HDD, and I used to use Mac Fan Control in OSX to pair the CDROM fan to HDD temp sensor rather than to CDROM temp sensor which was removed with the CDROM. I wonder if this has anything to do with it.

It seems like mbpfan has no control over this mechanis

[2018-01-22 03:12] gaul commented on #150
What does `uname -r` return?  If you run Linux prior to 3.15, try #121.

[2018-01-23 13:34] dnaicker commented on #150
4.13.9-300.fc27.x86_64

[2018-01-23 14:00] stefanark commented on #150
here wha i get:
patato@patato ~ $ uname -r
3.13.0-37-generic

[2018-01-23 15:14] gaul commented on #150
@stefanark Please try #121.

[2018-01-23 17:04] dnaicker commented on #150
my entire fedora 27 wont boot now, and it was a fresh install on macbook air 2013, i am just not going to use this, but thanks for making it

[2018-01-24 02:46] gaul commented on #150
@dnaicker Sorry that you system does not boot but your symptoms seem unrelated to this issue and possibly unrelated to mbpfan.  Please open a new issue with more details if you want to pursue this.

[2018-01-24 19:59] stefanark commented on #150
i'll try #121. i'll let you know.. thanks

[2018-03-26 18:27] SirWindfield opened #151 "mbpfan not turning on"
Hey, it's my first installation of arch so if I do something wrong, please let me know!

I installed using the AUR package you listed within the readme file. `coretemp` and `applesmc` are enabled and the service is running on boot.
I even set the minimum fan speed to 3000 to try and take a look if they start properly.

I am running kernel version 4.15, MacBook12,1 Retina.

Maybe you can help me, I

[2018-03-29 05:55] trev-dev commented on #151
Also having an issue getting mbpfan to work

`
roonie@roonux ~ $ lsmod | grep coretemp && lsmod | grep applesmc
coretemp               16384  0
applesmc               20480  0
input_polldev          16384  1 applesmc
`
systemctl states the service is enabled. Tests passed after make.

If I try to run the test mbpfan -t I get
`
Starting the tests..
It is normal for them to take a bit to finish.
mbp

[2018-03-29 07:27] SirWindfield commented on #151
I clean installed arch again and it worked out of the box. I just made sure to install it right after I created a new user, I just pacstrap'ed before. I think I installed it earlier on using the root account. That might have broken it.

[2018-04-10 14:08] #151 closed

[2018-04-21 14:32] atisharma opened #152 "Mac pro with two processors"
Since /sys/devices/platform/coretemp.0/hwmon/hwmon is monitored, if there is a coretemp.1, it is ignored.
It would be nice if both were monitored and the maximum taken.
The same issue applies with multiple fans which have different maximum rpm.

[2018-05-17 09:00] mk2soldier opened #153 "HSTS Certificate Expired"
Hi! Great piece of software!
Howevere the website (https://ineed.coffee) certificate seems to be expired (15th of May)

[2018-05-17 09:50] dgraziotin commented on #153
Whoops! Thanks, fixed!

https://www.ssllabs.com/ssltest/analyze.html?d=ineed.coffee&latest

Dr. Daniel Graziotin
@dgraziotin
ineed.coffee

[2018-08-09 16:48] GalaxyGroot opened #155 "ubuntu mate 16.04 system can't pass the "sudo make tests""
Hello.
Thank you very much for providing such a good code.
I found my ubuntu system (16.04) can't pass the tests but still works.
Now the fan noise is getting lower.

Before I tried this code, I installed the i8kutils. However, it make the fan stop-and-run.

Is there any solutions to help the system pass the tests? or it doesn't matter?

[2018-08-09 16:50] GalaxyGroot commented on #155
![mbpfan issue](https://user-images.githubusercontent.com/20671296/43913290-85c877aa-9bb9-11e8-9e58-ab7dec5dffec.png)

Here is the screenshot.

[2018-08-12 20:32] An7ar35 commented on #155
Fan control does not work on MBP 11.5 (2015), ``4.17.14-arch1-1-ARCH``.
There are indeed no ``fan*_input`` devices in the hwmon path.

Output for ``mbpfan -f -v -t``:
[code]

[2018-08-15 20:16] gaul commented on #155
`mbpfan` needs root to write to files in `find /sys/devices/platform/applesmc.768/`.  I opened a pull request to make this more clear.  Does `mbpfan` work correctly when using `sudo`?

[2018-08-15 20:18] gaul commented on #150
@stefanark Did #121 resolve your symptoms?

[2018-08-19 20:29] Ogromny opened #158 "Is this repo dead ?"
Hi,

Is this repository dead ?

I mean, i tried mbpfan on my macbook and with some stressful applications the CPU goes up to 85°+ and the fan dont speed up's at all ( they keep spinning at 2000RPM )...

[2018-08-19 20:35] gaul commented on #158
@dgraziotin Do you need help maintaining mbpfan?  I can help out here or start a friendly fork if you prefer.

[2018-08-19 20:36] gaul commented on #158
@Ogromny Can you run `mbpfan -f -v` and share the output as you start heavy CPU tasks?

[2018-08-19 20:46] Ogromny commented on #158
[code]

Oh, I just understood why it "does work", in fact it's work but I just need to reduce the sleeping time ^^

My bad, sorry... :/

[2018-08-20 03:01] An7ar35 commented on #155
@gaul No it doesn't. on Arch I noticed it stopped working recently even though it used to on an older kernel. Trying to set fan speed manually via ``echo "4000" > /sys/devices/platform/applesmc.768/fan1_input`` for example yield a ``fan1_input: Permission denied`` error (``sudo`` or ``su`` to root does not affect the result - still gets denied).

Also In ``/sys/devices/platform/coretemp.0/hwmon/hw

[2018-08-20 07:30] #153 closed

[2018-08-20 07:32] dgraziotin commented on #158
@gaul thank you for your kind offer (and for all your pull requests). You now have push access to the repository.

[2018-08-20 12:06] An7ar35 commented on #155
@gaul Thanks for replying.

Doing ``echo 4000 | sudo tee /sys/devices/platform/applesmc.768/fan1_input`` still results in a `Permission Denied``.

Result for ``find /sys/devices/platform/coretemp.0/hwmon/hwmon1/``:
[code]
Even though ``mbpfan`` testing on sudo seems to work it actually doesn't do anything in terms of fan control anymore.

``dmesg`` reports this at any attempts to set fan speeds:
[

[2018-08-20 22:31] gaul commented on #155
@An7ar35 I pushed a commit to master which should report the same error as bash.  However, if bash cannot set the fan speed then there is some other issue.  The applesmc driver has not changed much recently:

https://github.com/torvalds/linux/blob/master/drivers/hwmon/applesmc.c

Could you try an older kernel to narrow this down further?

[2018-08-20 22:32] gaul commented on #155
@GalaxyGroot I believe that ce3218407fbbaacd408ac251ba6f30fadf259ea7 should resolve the test issue.  Could you test and report back?

[2018-08-20 22:40] gaul opened #159 "Change default polling_interval to 1"
Some users report confusion by the default `polling_interval` not reacting quickly enough to increased temperatures.  Several microoptimizations ca52e9cefdb919740ce34f325e8521ccba549728, 6aba92d64915fc3ea71ce651133ab16804ca9091, 399aad782a2daf478ab3801e1fc12f8f23ec1ab6, and e58a67f630c2d22370381aabbac3fe47da6b87d1 reduce polling overhead so I suggest changing the default from 7 seconds to 1 second

[2018-08-20 22:44] gaul commented on #148
Can `mbpfan` reliably detect or infer a suspend event?  Perhaps it could store the last poll time and if it detects a large jump it re-runs the "Sleeping for 2 seconds to get first temp delta" logic?

@martrs Could you test this and report back?

[2018-08-20 22:52] gaul opened #160 "Release 2.1.0"
master includes kernel < 3.15 support and several small optimizations.  Commits since 2.0.2: https://github.com/dgraziotin/mbpfan/compare/v2.0.2...master

TODOs:

- [x] merge one of the RPM PRs: #154, #157
- [x] merge or close fan max speed detection #137
- [x] try to resolve open issues, especially https://github.com/dgraziotin/mbpfan/issues/155#issuecomment-414484540

Propose releasing 2.1.0 nex

[2018-08-21 09:26] gaul commented on #160
Done in d717ffb220a96a56359433c6db41a01180e21102.

[2018-08-21 10:43] atisharma commented on #152
Is this what the multicore branch does?

[2018-08-21 15:45] gaul opened #161 "Merge or delete feature branches"
Many of these are several years old and look merged to me.

[2018-08-21 15:46] gaul commented on #152
I believe that the multicore branch merely averages the sensors from an individual CPU:

https://github.com/dgraziotin/mbpfan/commit/3ff1aad95f63d8802fcfb58be3a6e204ef5a2a48

[2018-08-23 13:16] JP-Ellis opened #162 "Unable to detect sensors on 4.18"
I've noticed recently that mbpfan doesn't work as it should.  It is trying to use legacy sensor paths despite running Linux 4.18.  I'm on Arch Linux and I've only noticed this issue the past 2-3 days (not really sure what triggered it in the first place).

Here's a couple of outputs:

[code]

[code]

Let me know if you want me to test other things, or want other outputs from my computer.

[2018-08-23 16:35] gaul commented on #162
Could you attach the output of: `find /sys/devices/platform/coretemp.0`?  Which version of `mbpfan` do you use?  Master changes some of this logic and I worry it has a regression.

[2018-08-24 01:14] dixflat commented on #162
I have the same problem on a a Macbook Air mid 2012 running Fedora 28 (4.17.14-202.fc28.x86_64).

Here is the **find /sys/devices/platform/coretemp.0** output in my case:
/sys/devices/platform/coretemp.0
/sys/devices/platform/coretemp.0/uevent
/sys/devices/platform/coretemp.0/power
/sys/devices/platform/coretemp.0/power/runtime_active_time
/sys/devices/platform/coretemp.0/power/runtime_status
/sys

[2018-08-24 01:54] gaul commented on #162
Could you confirm that this works in 2.0.2 and fails in master?

[2018-08-24 01:54] gaul opened #163 "Emit version number and hash on startup"

[2018-08-24 02:42] #162 closed

[2018-08-24 02:43] gaul commented on #162
I tested the fix on Linux 3.13 and 4.4.  Please reopen or comment if symptoms persist.

[2018-08-24 05:02] gaul commented on #161
I removed most branches which master already included.  One branch looks like a work-in-progress which later commits supersede:

https://github.com/dgraziotin/mbpfan/tree/new-legacy-kernel-detection

@dgraziotin Please let me know if this has some value.

[2018-09-10 22:29] #160 closed

[2018-09-10 22:32] gaul commented on #161
Done.

[2018-09-10 22:32] #161 closed

[2018-09-10 22:32] gaul commented on #160
Done.

[2018-09-13 14:11] juan11perez opened #164 "Failed - All Tests Passed"
First thank you for this project.
OS Ubuntu Desktop 18.04
Macbook Air
mbpfan-2.1.0.tar.gz

Followed your install tutorial, but do not get the all tests passed. see below log

[code]
thank you

[2018-09-13 15:44] gaul commented on #164
Which test failed?  I don't see any errors.

[2018-09-13 16:59] juan11perez commented on #164
Thank you. In the result copied in my first post at the end it says it could not read min_fan_speed and it never produced the All Tests Passed per your instruction.

When I installed the previous version(2.0.2), it did the test and finished with All Tests Passed.
I've now got it running and it works great.
No more full blown fan speed.

[2018-09-13 17:31] #164 closed

[2018-09-13 17:33] gaul commented on #164
Sorry the tests did not flag or propagate the error correctly which confused me.  I fixed this and the test logic for fan auto-detection which caused this error.  Please continue to use 2.1.0; none of the core logic has changed.

[2018-09-13 20:50] juan11perez commented on #164
Thank you. I attempted 2.1.0 again and got the same error.
back to 2.0.2 and there's no errors. "All TESTS PASSED"

[2018-09-13 20:54] gaul commented on #164
Could you try master?

[2018-09-13 21:14] juan11perez commented on #164
i downloaded the tar from this
https://github.com/dgraziotin/mbpfan/tags

[2018-09-13 21:18] gaul commented on #164
Those are only the release versions.  You can check out master via:

[code]

This include the fix for the issue you uncovered.

[2018-09-13 21:29] juan11perez commented on #164
yes, I downloaded from master and it now works.
no errors
thank you

[2018-09-17 20:03] vuori commented on #152
If you're going to work on this, it would also useful to add configurability regarding which fans to control by label. On a MacPro4,1, just controlling the `EXHAUST` and `INTAKE` fans and letting the SMC take care of the rest seems totally sufficient for CPU-bound loads. Touching `PCI` and `PS` fans is unnecessary and `BOOSTA`/`BOOSTB` (heatsink fans) should be adjusted with a different RPM since

[2018-09-18 17:38] atisharma commented on #152
@vuori that's a good idea, but would be best treated separately, since I'm not sure how to do this. Would you mind opening another issue please?

[2018-09-18 18:08] atisharma commented on #152
@gaul I think I have solved this issue with [PR 165](https://github.com/dgraziotin/mbpfan/pull/165).

[2018-09-18 20:06] gaul opened #166 "Better Code Hub configuration"
Presently Better Code Hub reports:

We should configure this for all viewers or disable it.

[2018-09-19 08:27] atisharma opened #167 "All fans assumed to have same min/max rpm"
main.c:set_defaults sets a global max_fan_speed for all fans. On a Mac Pro at least, the max rpm varies per fan. This max value should be different per fan or at least set to the maximum over all fans.

[2018-09-19 09:09] dgraziotin commented on #166
I investigated this. It seems that either I am the only one able to view the BCH report or I shut it down for the project.

[2018-09-19 21:43] #152 closed

[2018-09-19 21:44] atisharma commented on #152
Thanks @gaul.

[2018-10-09 03:18] amicus-erez opened #168 "mbfan.conf breaks the post install test"
Hi,

https://github.com/dgraziotin/mbpfan/blob/master/mbpfan.conf

Has the min_fan_speed and max_fan_speed variables commented out.
These are copied to /etc/mbfan.conf and result in a failed test, see below.
Cordially,
 Erez

[code]

[2018-10-09 04:31] gaul commented on #168
Duplicate of #164?

[2018-10-09 04:45] amicus-erez commented on #168
Possibly,  I uncommented those lines in source folder and the tests passed.
Those lines were still commented out in the master branch, so I just filed the issue.
I used the latest tarball, not a repo clone.

It is a fantastic project and I am very grateful for it.
Let me know if I could provide more data.
My machine is a mackbook pro 15 early 2013..
 with a busted and disabled nvidia gpu.
So far s

[2018-10-09 04:46] gaul commented on #168
Could you test with the latest master?

[2018-10-19 21:40] RaelZero opened #169 "Unable to pass tests and run mbpfan"
Hello,

After following the guides (the one included in the config and the [one for my distro](https://wiki.voidlinux.eu/Macbook)) and checking configurations (only required changing max temp to 87), I am unable to pass the tests, and the fan just does not start when launching `mbpfan` (or enabling it as a service).

I'm using a MacBook Pro 9.2 (i5 CPU if that matters) running Void Linux. Package

[2018-10-26 17:53] iridakos commented on #167
+1

[2018-11-03 23:59] gaul commented on #169
The assert unfortunately does not return a lot of information -- you might try adding more logging to `minunit.c:test_get_temp`.

[2018-12-18 00:10] Markospoko opened #170 "Something wrong with app"
Could you fix the app? When fans get busy and things get cooler, cooling just stays there high?

[2018-12-18 00:16] gaul commented on #170
`mbpfan` should decrease fan speed as temperatures drop.  Can you post the logs from `mbpfan -f -v` demonstrating your symptoms?

[2019-01-12 18:08] Markospoko commented on #170
\>\> I boot Lin and sensors give:

applesmc-isa-0300
Adapter: ISA adapter
Left side  : 3003 RPM  (min = 1984 RPM, max = 6000 RPM)
Right side : 3001 RPM  (min = 1984 RPM, max = 6000 RPM)
TB0T:         +33.8°C
TB1T:         +33.8°C
TB2T:         +30.2°C
TC0C:         +60.5°C
TC0D:         +61.2°C
TC0P:         +58.0°C
TC1C:         +63.0°C
TG0D:         +61.0°C
TG0P:         +55.0°C
TG0T:         +6

[2019-01-13 18:15] gaul commented on #170
Could you run `mbpfan -f -v`?  This will give an idea what it is doing.

[2019-01-15 02:37] bbgun7 opened #172 "Test "Couldn't open configfile, using defaults""
I have a Macbook 12,1, and I'm trying to make sure I have mbpfan set up correctly. I'm running Manjaro linux

Here's my config file:
[code]

and here's the output of `sudo mbpfan -f -v -t`
[code]

Is there any way to fix the 2 issues, Couldn't open configfile, using defaults and Error: max_fan_speed value is not 6200? I haven't been able to find anything online

Thanks, let me know if you need any

[2019-01-15 04:39] gaul commented on #172
The tests assume a fixed config file since it queries these values.  Why do you need to run the tests?  Does mbpfan work properly otherwise?

[2019-01-15 04:44] bbgun7 commented on #172
I had left my laptop in my bag and it didn't suspend properly, so when I got it out it was really warm, but the fans didn't turn on even when I unlocked it and everything. I don't remember what the temperature was, so it still might've been low enough to not need the fans, but it got me wanting to test it to make sure, so that's why I'm trying to run the tests. I suppose I should try running somet

[2019-01-18 19:34] #159 closed

[2019-01-18 19:36] gaul commented on #166
Could we disable this?  These failures just confuse contributors.

[2019-01-18 19:38] gaul opened #173 "Configure Travis"

[2019-01-18 19:55] gaul commented on #173
@dgraziotin #174 add the configuration file but this will need some work from you to enable CI testing.  This has limited utility since we cannot run the integration tests but something nice to have.

[2019-01-21 17:45] kontheocharis commented on #141
I've got the same problem on a MacBook Pro 11,5

[2019-01-21 17:48] kontheocharis opened #175 "Too hot"
I've got a MacBook Pro 11,5 and it runs way hotter with this script than it does on macOS.
I get about 59-65 just when idle.
Is there a way to fix this? I've tried to tweak the configuration but to no avail...
Unfortunately, the tests can't run due to error message `max_fan_speed value is not 6200`.

[2019-01-21 18:33] gaul commented on #173
Looks good; thank you!

[2019-01-21 18:33] #173 closed

[2019-01-21 23:37] gaul commented on #175
Could you share your mbpfan version, configuration file, and some log messages from `mbpfan -v -f` when the system is idle and under load?

[2019-01-21 23:56] gaul commented on #175
Also I wonder if you use a discrete or integrated GPU?  The former will use more power than the latter.  macOS switches between the two automatically but I am not sure what Linux does.

[2019-01-22 00:20] gaul commented on #170
Your configuration has low_temp = 45 despite the suggested 55-63 values.  mbpfan will not reach the lowest fan speed if the temperature is higher than low_temp.

[2019-01-22 00:21] gaul commented on #167
@atisharma Does #171 resolve this issue?

[2019-01-22 06:35] gaul commented on #175
Thanks for sharing this feedback!  Could you share the logs with these settings in case some future user has the same issue?

[2019-01-22 22:43] atisharma commented on #167
It does seem to. Thank you and thanks mikaelbjoern.
I can set min_fanX_speed in the .conf individually and it is respected. There are some problems I will raise in that issue.

[2019-01-22 22:43] #167 closed

[2019-02-01 05:22] taostlt opened #178 "To Lobotmize my Macbook pro Fans or not?"
For the last ~ 15 some hours I have been trying to get mbpfan or macfanctld to work on my 2009 Macbook Pro. Sadly, last month I opened up beast and cleaned the fans with compressed air. Maybe the cold of the air killed one of the sensors? Since then it has always run full speed (6200). PSensor reports sensors TG0F, TB3T, and TC0F = 0  (static).
Prior to Mbpfan install, both fans ran at 6200, 6200

[2019-02-01 18:15] taostlt commented on #178
Thanks so much @gaul ! That was a great clue! mbpfan -v -f showed a pid conflict which using HTOP I was able to see 'macfanctld' was actually running. I still have to test more, but with that gone, I can finally hear the sweet sounds of silence again! It is really amazing to have this working. Thank you!

[2019-02-07 22:40] #178 closed

[2019-02-07 22:55] #175 closed

[2019-02-07 23:04] gaul commented on #170
@Markospoko did my suggestion resolve this issue?  If so please close it.

[2019-02-08 15:30] Markospoko commented on #170
Perhaps I'll notice 2 things:
- you can make it better so app works more along with the settings, f.e. if I have 40C for low_temp and min_fan_speed set to 2000, when app starts and "sees" 60C it could lift cooling to that temp just like it does when cooling drops when things approach low_temp, I's puzzled with this because I couldn't understand why it's doing something else
- comments in mbpfan.co

[2019-02-08 18:11] #170 closed

[2019-02-09 20:55] gaul commented on #170
1) I'm not sure I understand your suggestion.  Could you open another issue with the current and suggested behavior?

2) Please submit a pull request!  Improved documentation helps all users.

[2019-03-09 22:30] TXMXenon commented on #168
I was getting the same issue and took the advice in #164 and tried the master and now I'm dealing with the same thing as #169
[code]
My config file (/etc/mbpfan.conf):
[code]

[2019-03-27 13:43] rikrdo89 opened #179 "mbpfan unable to control fan speed"
I followed the instructions in your tutorial (https://ineed.coffee/3838/a-beginners-tutorial-for-mbpfan-under-ubuntu/), successfully installed mbpfan, passed all the tests, edited the config file and copied it as indicated, enabled the config.service file, and rebooted. I can see that the daemon is running:

`root       818  0.0  0.0   8252  1172 ?        Ss   09:20   0:00 /usr/sbin/mbpfan -f`

Ho

[2019-04-07 06:46] bplein commented on #179
I'm seeing that all of the fans on my MacPro 5,1 are running at 800, even if I set the minimums higher.

[2019-04-08 15:04] bplein commented on #179
@rikrdo89 Why don't you stop the background mbpfan and then run "mbpfan -f -v" in a terminal session and then report back what it seems to be reporting?

[2019-04-21 09:28] FrancescoFdd5 opened #180 "min_fan_speed"
When i do make tests the output is:

It is normal for them to take a bit to finish.
Could not read min_fan_speed from config file
Tests run: 4

[2019-04-23 20:11] impearker commented on #180
I get the same issue.
`User@ComputerName:~/mbpfan-2.1.0$ sudo make tests
make install
make[1]: Entering directory '/home/parker/mbpfan-2.1.0'
install -d /usr/sbin
install -d /etc
install -d /lib/systemd/system
install -d /usr/share/doc/mbpfan
install bin/mbpfan /usr/sbin
install -m644 mbpfan.conf /etc
install -m644 README.md /usr/share/doc/mbpfan
install -d /usr/share/man/man8
install -m644 mbpfan

[2019-04-27 05:13] gaul commented on #180
Please test with the recently released [2.1.1](https://github.com/dgraziotin/mbpfan/releases/tag/v2.1.1) which should address this issue.

[2019-04-27 05:13] #180 closed

[2019-04-27 05:14] gaul commented on #168
Please test with the recently released [2.1.1](https://github.com/dgraziotin/mbpfan/releases/tag/v2.1.1) which should address this issue.

[2019-04-27 05:14] #168 closed

[2019-04-27 05:14] gaul commented on #169
Please test with the recently released [2.1.1](https://github.com/dgraziotin/mbpfan/releases/tag/v2.1.1) which may address this issue.

[2019-04-27 05:15] gaul commented on #179
Please test with the recently released [2.1.1](https://github.com/dgraziotin/mbpfan/releases/tag/v2.1.1) which may address this issue.

[2019-04-28 02:29] gaul opened #181 "Fedora package"
It would be great if a volunteer can create a mbpfan package for Fedora.

[2019-04-30 02:21] gaul commented on #166
It appears that this is now disabled.

[2019-05-02 07:46] Krutonium opened #184 "Modify Project Banner Thing (Across the top of the Main Section)"
Right now it reads "A simple daemon to control fan speed on all MacBook/MacBook Pros (probably all Apple computers) for Linux 3.x.x and 4.x.x" but, with the merging of #183 We know it works on Kernel 5.x.x as well. Perhaps it should be changed to either include 5.x.x or simply Kernel 3 and newer?

[2019-05-02 07:54] madmalkav commented on #184
It also works on more computers, i.e. MacPro 1,1 workstations.

El jue., 2 may. 2019 9:46, Krutonium <notifications@github.com> escribió:

[2019-05-10 03:22] impearker commented on #169
I installed and ran tests with 2.1.1 and all tests passed. You can close this. Yay.

[2019-05-10 11:48] gaul commented on #169
Thank you for the feedback!

[2019-05-10 11:48] #169 closed

[2019-05-10 11:51] gaul commented on #184
@dgraziotin I lack the karma to do this; could you modify the banner?  It also would be nice to add GitHub topics as well, e.g., #macbook, #fan, #linux.

[2019-05-10 15:23] dgraziotin commented on #184
done! @madmalkav, feel free to report on your tested machines with a PR to README.md.

[2019-05-10 15:23] #184 closed

[2019-06-11 16:38] csabahenk opened #186 "fan never starts"
I discovered my laptop is now deadly silent when mbpfan.service is started, fan does not kick in whatever load I put on it.

I tried eg. this as synthetic test:

[code]

ie. busy looping on all CPUs, but of course real life presents heavy loads much enough.

Fan kicks in immediately if I stop the service.

Earlier it worked fine, fan stopped normally and started on heavy load.

- Hardware: MacBook

[2019-06-11 16:45] csabahenk commented on #186
Some diagnostics... I don't know if it's relevant to the issue but this is what I observed.

I chekched `mbpfan -t`, it gives following error message:

[code]

I get it if I run from an ordinary location, ie. not from mbpfan source tree where the _mbpfan.conf.test0_ files are present. I don't get it in the source tree.

I had the default _mbpfan.conf_, but thought maybe explicitly setting `max_fan

[2019-06-11 20:23] gaul commented on #186
Can you run with `mbpfan -f -v` and see what it logs?

[2019-06-11 23:34] gaul commented on #186
Do you set `max_fan_speed` to -1 in your mbpfan.conf?

[2019-06-11 23:45] csabahenk commented on #186
Just on a cursory glance now mbpfan seem to work. I'll do more thorough testing tomorrow.

I used so far default mbpfan.conf, now when fiddling with it, followed the _put the *lowest/highest* value of "cat /sys/devices/platform/applesmc.768/fan*_min/max"_ instructions to set min/max_fan1_speed. Which are decent positive numbers, not -1.

[2019-06-12 12:53] csabahenk commented on #186
Now the service works as I should -- don't know what happened, I didn't even reboot the machine. I'm closing the issue for now, if it again occurs, I'll reopen it.

If you think the mysterious `max_fan1_speed = -1` phenomenon is worth to track down in itself, let me know and I open a dedicated issue for that.

[2019-06-12 12:53] #186 closed

[2019-07-07 12:17] jolupa opened #187 "Package for Crux"
Hi! just created a port for the Crux linux distro.
[you can grab it here](https://github.com/jolupa/jolupalabs/tree/master/mbpfan)
And the fans are working like a charm right now!
Also I'm on a White Macbook from mid 2009.
Thanks

[2019-07-08 09:24] bbtdev opened #188 "How to uninstall?"
dumb question, but how can I uninstall this?

[2019-07-08 11:25] dgraziotin commented on #188
If you still have the source file directory, it is a matter of `make uninstall`. If not, please see the [Makefile](https://github.com/dgraziotin/mbpfan/blob/master/Makefile#L42) and execute as root the 5 commands under `uninstall:`

[2019-07-08 13:38] bbtdev commented on #188
@dgraziotin thank you. Not acustomed with make

[2019-07-08 13:38] #188 closed

[2019-07-08 17:46] gaul commented on #187
Does Crux offer some package management command that we can add to the main README?

[2019-07-08 18:09] jolupa commented on #187
Well is little bit weird... You have to add the repo where the package is in [my repo](https://www.github.com/jolupa/jolupalabs) and then make the normal ```prt-get depinst mbpfan```
Also includes the file to start the daemon in the rc.conf.

[2019-07-08 21:49] gaul commented on #187
If you can boil this down into one or two commands we can add it to the README.  Otherwise link to your repo with complete instructions.  Please submit a pull request with whichever seems appropriate.

[2019-07-09 11:50] gaul commented on #187
Fixed by #189.

[2019-07-09 11:50] #187 closed

[2019-07-30 22:36] gaul commented on #179
Closing due to inactivity.  Please reopen if symptoms persist.

[2019-07-30 22:36] #179 closed

[2019-08-04 16:04] MikeC84 opened #190 "Not turning on"
I am having a problem getting this working. I used the tutorial located here...

https://ineed.coffee/3838/a-beginners-tutorial-for-mbpfan-under-ubuntu/

My system is iMac 12,1 Dual boot Mac OSx and Ubuntu 19.05 Kernel 5.0.0-23-generic. Coretemp and applesmc are loaded at boot.

Using mbpfan 2.1.1

Everything went as it should. During make, make install, make tests, I didn't get any errors. After

[2019-08-04 22:10] MikeC84 commented on #190
When I am inside the source directory I get no errors but when I am outside of the directory I get the max_fan_speed value is not 6200 error. Either way the fans aren't ramping up when the temp heats up. Even when I lower the max temp, It just doesn't do anything..

---- Inside directory

sudo mbpfan -f -v -t
Starting the tests..
It is normal for them to take a bit to finish.
Using new sensor path

[2019-08-18 12:41] kyoz commented on #190
Same here, on MBP 15 Mid 2015

[2019-08-19 13:35] dgraziotin commented on #190
@gaul I am a little out of the loop, but I suspect that this issue is actually just in the tests part and it is because of the new way mbpfan detects min and max value. Is it the case? Should we remove the tests?

[2019-08-19 15:40] jolupa commented on #190
I think that don't making test is ok. I don't run the tests and the software is running smoothly. I changed the temperatures when the fan are activated and it runs just fine... But the tests allways tell me that they fail.
So I think is a good point to disable the tests if the solution is too hard.

[2019-08-27 20:52] edlew1s commented on #190
I can confirm the same issue. My fan is not turning on and the test throws the same error. I am running Arch Linux on a Macbook Pro 13,1

[2019-08-29 23:55] gaul commented on #190
Unfortunately I believe the tests only work on MacBooks which have smaller, higher RPM fans.  iMac and Mac Pro have larger, lower RPM fans.  Running the tests is required and something the README should not recommend.  I changed the README somewhat but it should really suggest running `mbpfan -vf` and increasing the CPU load to test instead to observe what is happening.

[2019-09-13 13:07] Dmole commented on #148
https://wiki.archlinux.org/index.php/Power_management#Suspend/resume_service_files

[2019-09-19 00:02] gaul commented on #148
@Dmole Could you share logs using `mbpfan -f -v` when you observe the unexpected fan spin-up before and after suspending?

[2019-09-19 00:22] Dmole commented on #148
@gaul is there a command that outputs the value of all sensors and fans not just one of each?
Interestingly the fan noise seems to oscillate every 7 seconds just as the reading is taken.

[code]

[2019-09-20 05:07] gaul commented on #148
What kind of machine do you run?  mbpfan support for desktops is new and might need some tuning.  Also I wonder if you change the sleep time to 1 second (the new default) if the symptoms disappear?  At least on my MacBook, the BIOS/EFI controls the fan until mbpfan overrides it.

[2019-09-20 09:22] Dmole commented on #148
old iMac A1312

As mentioned on the PR they change but don't disappear.

The issue sounds like mbpfan partly loses control of 1 (of 3) fan to EFI after suspend because the sound is nowhere near as loud as during boot.

[2019-10-04 02:11] gaul commented on #148
`mbpfan` has some outdated assumptions about a single fan with a single process package, e.g., MacBooks.  @atisharma did some work in #165 to fix this but agree that we should output all the temperatures and fan speeds in verbose mode.  This is straightforward to do, can either of you do this since I lack this hardware?

[2019-10-04 06:23] Dmole commented on #148
What my system looks like;

[code]
I'm tempted to replace the 4000 lines of c with 40 lines of bash but I should sleep instead.

[2019-10-04 16:46] dgraziotin opened #194 "Transfer mbpfan project to gaul"
I started this project [back in 2012](https://github.com/dgraziotin/mbpfan/commit/8d89d05cf2460fad11b8e16dc4cdb503d80548b6) as a way to fix some annoyances I was having with GNU/Linux on a MacBook Pro and as a way to refresh my knowledge of C. It turned out I was not the only one annoyed with the situation.

Since then the project has grown so much in popularity (more than 4000 unique Google entri

[2019-10-04 18:49] LyesSaadi commented on #181
[:3](https://gitlab.com/LyesSaadi/spec/blob/master/mbpfan/mbpfan.spec) !

I'm creating a copr repo :)! I'll post the link here as soon as it's ready!

[2019-10-04 19:14] gaul commented on #194
Thanks @dgraziotin!  We can transfer the project to me which is probably the least effort.  Alternatively we could create a GitHub organization which would emphasize the community effort.  I don't think this has a practical impact on the project maintenance but has different optics.

[2019-10-04 19:15] gaul commented on #181
This is great!  Please update the README with instructions when the package is accepted.

[2019-10-04 19:17] LyesSaadi commented on #181
[It is :)!](https://copr.fedorainfracloud.org/coprs/lyessaadi/mbpfan/)

Copr is the equivalent of AUR.

## Fedora Workstation:

[code]

## Fedora Silverblue:

[code]

[2019-10-04 21:44] LyesSaadi commented on #181
Do you want me to try to submit it to the official repo ?
I've never done it, but I could try to.
Also, I don't think that I would be able to do so as Fedora refuses new packages, as soon as the Beta (or final) release is reached, which already is the case (or nearly) for Fedora 31. That would mean a package would only by ready for Fedora 32.

[2019-10-04 21:53] gaul commented on #181
It takes some effort but submitting upstream definitely gives users more trust than copr.  Don't worry about Fedora 31 or 32, I believe they will take the package immediately for the latter and will include in the former after the freeze.  But please submit a pull request with the copr instructions to the README since this is more friendly than compiling for non-developers.

[2019-10-08 03:02] gaul commented on #166
This somehow re-enabled and failed in #196.

[2019-10-08 03:03] gaul commented on #148
Could you try testing again with https://github.com/gaul/mbpfan/tree/no-caching?

[2019-10-10 14:16] irishane opened #197 "Macbook with Ubuntu suspending after short time"
Hi,

I added mbpfan using the beginners tutorial and the fans are working much quieter but now the system will suddenly suspend after watching video for 1-2 mins. I thought this could be fixed by turning off screensaver/suspend but it doesn't help, plus the intervals for it shutting down vary from ca. 1 minute up to 3 minutes or so. I think maybe the laptops suspending to avoid overheating and I'v

[2019-10-11 05:38] gaul commented on #197
Try looking at `dmesg` output running mbpfan with the `-f -v` flags.

[2019-10-12 12:35] dgraziotin commented on #194
I need you to delete your fork of mbpfan before I can transfer it to you. Otherwise GitHub tells me you already have a project with the same name.

[2019-10-13 01:08] gaul commented on #194
Let's use the linux-on-mac organization instead of my personal account.

[2019-10-14 18:30] dgraziotin commented on #194
Done!

[2019-10-14 18:30] #194 closed

[2019-10-16 07:46] jaxsonde-ville opened #198 "sudo make tests failed"
make[1]: Leaving directory '/home/cosmo/Downloads/mbpfan-master'
/usr/sbin/mbpfan -f -v -t
Starting the tests..
It is normal for them to take a bit to finish.
Using new sensor path for kernel >= 3.15.0 or some CentOS versions with kernel 3.10.0
Found hwmon path at /sys/devices/platform/coretemp.0/hwmon/hwmon2/temp
Found 5 sensors
Found 2 fans
Using new sensor path for kernel >= 3.15.0 or some Cent

[2019-10-16 07:47] jaxsonde-ville commented on #198
System:    Host: the Kernel: 4.15.0-65-generic x86_64 bits: 64 compiler: gcc v: 7.4.0
           Desktop: Cinnamon 4.2.4 wm: muffin dm: LightDM Distro: Linux Mint 19.2 Tina
           base: Ubuntu 18.04 bionic
Machine:   Type: Laptop System: Apple product: MacBookPro10,1 v: 1.0 serial: <filter> Chassis:
           type: 10 v: Mac-C3EC7CD22292981F serial: <filter>
           Mobo: Apple model: Mac-

[2019-10-17 16:49] Dmole commented on #148
Did not help; one of the fans oscillates to an ever increasing speed after suspend, and mbpfan reports speed as unchanging, while the kernel/bash reports different numbers

[code]

[code]

[2019-10-19 23:34] gaul opened #199 "Mean vs. maximum temperature"
When adding some more verbose logging I found that mbpfan calculates the overall temperature of the *average* of all the sensors.  Instead should it use the *maximum*?  For example when stressing one core on a two core system:

[code]

By using the average of 81, the fans delay their maximum speed.  This is even more wrong for multi-package, multi-core systems like Mac Pros which have multiple fan

[2019-10-20 17:06] gaul commented on #199
This has more skewed results with 8-core MacBook Pros.

[2019-10-24 18:49] gaul commented on #181
@LyesSaadi, did you submit the package to Fedora proper?  If so could you share the Bugzilla issue?

[2019-10-24 18:51] LyesSaadi commented on #181
Sorry, I'm overwhelmed by work recently. I can't do it and won't be able to do it, at least until mid December.

[2019-10-24 22:49] gaul commented on #148
Sorry this continues to cause issues -- it is hard to debug without having the hardware.  The `fan1_manual:0` sounds suggestive.  Could you try the updated https://github.com/gaul/mbpfan/tree/recalibrate branch?

[2019-10-25 16:30] Dmole commented on #199
Yes.

I ran into this today:

[code]
(I had a VM heating only 2/4 cores)

[2019-10-25 16:50] Dmole commented on #148
Thanks that fixed the issue, please get it merged into master.

[2019-10-29 06:22] #148 closed

[2019-10-29 06:26] #199 closed

[2019-10-29 06:29] gaul opened #201 "Release 2.2.0"
This includes:

* calculate temperature via maximum
* detect more than 16 sensors
* fix heap corruption from unsafe `sprintf`
* fix spurious test failure
* recalibrate on suspend/resume

Propose releasing 2.2.0 later this week.

[2019-10-29 06:38] dgraziotin commented on #199
@gaul the reason for using mean vs max was a way to have mbpfan act as lazy as possible with the fans. Under macOS, their proprietary algorithm optimized for sound first, temperature second. I wanted to mimic it a bit. It’s not vital that it keeps going that way.

[2019-10-29 06:47] gaul opened #202 "Unify logging"
Present mbpfan duplicates logging:

[code]

Unify these via a helper function to reduce copy-and-paste errors.

[2019-10-30 22:23] #202 closed

[2019-10-31 03:56] gaul commented on #198
Could you add some print statements to inspect the values of `temp_1` and `temp_2`?  I suspect that the fans were already spinning as the log message suggests.

[2019-10-31 03:57] gaul commented on #197
@irishane Please reopen if you have further debugging information.

[2019-10-31 03:57] #197 closed

[2019-10-31 04:00] gaul commented on #190
Could you try running with the latest master?

[2019-10-31 04:00] gaul commented on #166
Appears to be fixed/disabled.

[2019-10-31 04:00] #166 closed

[2019-10-31 22:19] #201 closed

[2019-11-01 15:23] LyesSaadi commented on #181
Hi, while reading the package guidelines, I have asked myself this question : Should this program be packaged for 32-bit arch ?

[2019-11-01 18:29] gaul commented on #181
I believe that Fedora 31 ended support for 32-bit x86:

https://fedoraproject.org/wiki/Changes/Noi686Repositories

[2019-11-01 20:02] LyesSaadi commented on #181
Yep, but not for Fedora 30 and 29 who are still supported. Nevertheless, I think I'll just make 64-bit packages. Those who wants to use 32-bit packages will be able to take the spec file and build it for themselves (it's pretty simple to do !).

[2019-11-01 20:04] gaul commented on #181
Personally I would only support x86-64.  The intersection between MacBook Linux users and 32-bit distros seems quite small to me!

[2019-11-01 20:21] LyesSaadi commented on #181
Here is the Bugzilla link tracking the progress : https://bugzilla.redhat.com/show_bug.cgi?id=1767998

[2019-11-07 15:26] Markospoko opened #203 "fix/improvement suggestion (fan's speed adjustment fault)"
There was an attempt to dubiously explain the issue here: [https://github.com/linux-on-mac/mbpfan/issues/170#issue-391942696](url) and here: [https://github.com/linux-on-mac/mbpfan/issues/170#issuecomment-461840333](url), this gives a better clue about it.

_**what isn't good:**_ if I put 40 as low_temp and it's 60C when Mbpfan starts, it won't function correctly, fan speed can be stuck, I know it

[2019-11-11 22:57] bplein opened #204 "Different results using native vs. Docker container (running privileged)"
I have both Mac mini 2012 systems and a MacPro4,1 (updated to 5,1) and they work great with mbpfan running natively.

I'm attempting to containerize these. Not for any security concerns (since I still have to run them privileged to access the sensors and fans, but simply because that's preferred for me.

For a single fan system like a Mac mini, mbpfan running in a privileged container seems to wor

[2019-11-11 23:02] bplein commented on #204
The Dockerfile used to create this can be found here as well as docker-compose.yml used to launch it. https://github.com/bplein/mbpfan

The mbpfan.conf included in the git repository is tuned for a Mac mini, not for the MBP.  The Dockerfile isn't optimized yet, will clean it up if I get past this problem.

Any thoughts? Have some CLI I can run from inside a running container to check on why it mig

[2019-11-11 23:12] bplein commented on #204
Oh, one more comment, I am using mbpfan from the Ubuntu repo.
[code]

[2019-11-13 13:19] gaul commented on #204
Please test with the latest 2.2.0.  2.0.2 is over two years old!  The newest version also has some logging indicating which sensors it detects.

[2019-11-13 15:18] bplein commented on #204
I'm willing to test with it, but 2.0.2 is what is pulled in by apt-get install on Ubuntu 18.04. Building a container with the latest is a completely different workflow and it will take me some time to test. But I'll try it out!

[2019-11-13 16:10] bplein commented on #204
2.2.0 works fine! I wasn't aware that the Ubuntu package wasn't being maintained up to date with this project.

I'll build my own binary and push it into my container image.

[2019-11-13 16:10] #204 closed

[2019-11-13 23:37] gaul commented on #204
I am glad this works now.  Could you file an issue with Ubuntu/Debian to upgrade their package?  I am not too familiar with this ecosystem.

[2019-11-16 19:59] antwal opened #205 "Update Supported OS"
Working on Mac Mini Server 2006 and Mac Mini 2006 with Opensuse 15 / 15.1

Fan1 Max 5500
Temp Max 105

i have used systemd config

Kernel 4.12.14

[2019-11-17 01:05] gaul commented on #205
Thanks you can update the wiki here: https://github.com/linux-on-mac/mbpfan/wiki/Tested-Mac-Models

[2019-11-17 01:05] #205 closed

[2019-11-20 21:25] gpoole commented on #190
I was also getting the same error during the test step when trying to install on an Arch system from AUR (v2.2.0.r2.gb21aaa8-1):

[code]

After building from the latest master (b21aaa8) the tests are all passing.

[2019-11-23 16:17] nodefive opened #206 "Deepin Segmentation Fault"
Compiling finishes ok, tests are ok. But when running I get segfault.

[code]

[code]

[code]

[code]

[code]

[2019-11-24 02:41] gaul commented on #206
Can you run mbpfan under valgrind or gdb and get the backtrace?

[2019-11-24 03:56] nodefive commented on #206
Sure. Here:

[code]

[2019-11-24 04:52] #206 closed

[2019-11-24 04:53] gaul commented on #206
Thanks for reporting this!  Could you check if the latest master fixes your symptoms?  If so I will release 2.2.1.

[2019-11-24 07:16] nodefive commented on #206
Now works just fine :-) Thanks Andrew

[code]

[code]

[2019-11-30 01:56] bplein opened #207 "Enhancement Request: Fan Speeds based on different temperature sensors"
Correct me if I am wrong, but I believe that a single temperature is used to adjust all fan speeds.

On multi-fan systems like the older "classic" Mac Pros (cMP), it would be ideal of the CPU temps drove EXHAUST, INTAKE, BOOSTA (and BOOSTB on dual socket), while other sensors drove PS speed and PCI speed.

I don't think there's a single generic approach to this, which is the complicating factor he

[2019-11-30 03:28] gaul commented on #207
@bplein You are correct and mbpfan should include this functionality.  Unfortunately I don't have a desktop Mac so I cannot experiment with this myself.  We would gladly accept pull requests to do so, however, and the code is straightforward so you may be able to add this yourself.

@atishma Any chance you could look into this?

[2019-11-30 15:35] bplein commented on #207
I appreciate the response.

I'm not a C coder, but am willing to help test.

In any event, I ran some tests by manually setting the PCI fan faster, and it didn't appreciably reduce the PCI Ambient sensor temperature.

I have a unique problem in that I have Fusion-io cards which can run hot, but don't increase the PCIe Ambient sensor fast enough anyhow. I think what I need to do is have my own scri

[2019-11-30 15:35] #207 closed

[2019-12-04 22:00] ssbarnea opened #208 "mbpfan spams systemlogs"
Apparently my journald is full of logs from mpbfan service and I see no documented option for silencing these messages.
[code]

Is there a way to make mbpfan less spamming? ... other than removing the service ;)

[2019-12-21 21:20] LyesSaadi commented on #181
The package was approved, I was sponsored and updates have been pushed to bodhi for testing. So, if everything goes well, it will land on stable repos in 7 days :) (Except for rawhide, where it is already in stable)!

[2019-12-23 19:15] LyesSaadi commented on #181
So... Weird things are happening right now with Fedora Infrastructure??? Nothing is being pushed to testing and stable and it's Christmas so it might take longer until the issue is resolved...

If you look to [bodhi (Fedora Update Mechanism)](https://bodhi.fedoraproject.org/updates/), everything is in "pending" state...

[2020-01-21 06:10] kokowang opened #210 "MacBook 2018+, T2 Support"
Apple has moved smc functionality into the T2 chip. Attempting to load **applesmc** results in `Module 'applesmc' is built in`. Thus it is not listed in lsmod and also is not detected by mbpfan.

Macbook Pro 2019 (15,1) | Arch | Linux 5.4.10

[2020-01-23 06:43] #210 closed

[2020-01-23 12:17] gaul commented on #210
@kokowang did you get mbpfan working or did you need some workaround?

[2020-01-23 20:57] kokowang commented on #210
@gaul I was not able to get mbpfan to work. Issue closed since establishing communication with the T2 seems to be outside the scope of this project.
I'm looking into possible workarounds; been able to read sensors from applesmc but am still unable to change fan speeds.

[2020-01-26 08:48] gaul commented on #210
Could you include the logs from `mbpfan -v -f`?  I would like to make sure the error messages are at least clear.

[2020-02-06 03:17] dnear1 opened #211 "Updated instructions to support multiple fans?"
Looking at #177, it looks like code was pushed in that should allow multiple fan speeds;  I'm using macfan on Ubuntu 18.04 on a 27.5" iMac.  It has 3 fans and 5 sensors.   I tried editing the /etc/macfan.conf file to have separate min/max fan speeds as reported under /sys/devices/platform/applesmc.768/ but when I restart, macfan doesn't seem to be controlling the speeds, all 3 fans stick at about

[2020-02-26 13:40] nraiha opened #212 "Tests fails"
Hi,

I am running Void Linux, kernel 5.4.21_1 and I have installed mbpfan with xbps (package system)
After updating the mbpfan I tried run the tests.

I have run sudo mbpfan -t -v. 3 Last lines are the following:

My /etc/mbpfan.conf looks like:

What is the configfile and any idea how to solve this error?

[2020-03-04 09:28] hawisizu commented on #211
Trying to use mbpfan on a 24" imac, I have the same problem, it seems only one temp is read, and the 3 fans speeds are raised simultinaously. I my case it leads to the HDD fan super loud at 5000 rpm when it's the CPU who is heating up.
it seems the max and min speed control only the ODD fan in my case.
@dnear1 : did you find a workaround by any chance?

thanks!

[2020-03-21 20:51] pacoon opened #213 "Update program version to 2.2.1"
Hello,

currently release 2.2.1 shows "mbpfan 2.2.0 starting up" at startup.

This patch fixes the version.

https://github.com/pacoon/mbpfan/commit/d9030c9879876c0ac71c69892751595d19c2f65d

[2020-03-21 20:55] pacoon commented on #213
From d9f84938b8c0eec749deb722a595a9d84bdb45f8 Mon Sep 17 00:00:00 2001
From: Rene Saavedra <pacoon@protonmail.com>
Date: Sat, 21 Mar 2020 14:48:31 -0600
Subject: [PATCH] Update program version to 2.2.1.

---
 src/main.c | 3 ++-
 1 file changed, 2 insertions(+), 1 deletion(-)

diff --git a/src/main.c b/src/main.c
index 2b797c9..12df9ce 100644
--- a/src/main.c
+++ b/src/main.c
@@ -1,6 +1,7 @@
 /**

[2020-03-22 13:51] gaul commented on #213
We can't change the existing release but I'll leave this open to remind me to change the version for the next release.

[2020-03-23 13:51] gaul commented on #211
@atisharma any chance you could look at this?  I lack the hardware to test it.

[2020-03-27 11:08] paulyc opened #214 "Failing due to temp sensor paths being moved under applesmc Linux 5.6"
On my MBP10,2 running Linux 5.6 rc7,  all the temp sensors are showing up in one big list of tempX_input tempX_label under /sys/devices/platform/applesmc.768 where X is in the range [1,29]. Unsure whether it's this particular model , something I did to my kernel configs, or, /sys interface changed again somewhere between Linux 3.4 and 5.6 or when exactly they changed (most likely imo since it chan

[2020-03-27 14:18] gaul commented on #214
I upgraded my MacBook Air 6,2 to Fedora 32 beta with kernel 5.6.0-0.rc7 and cannot reproduce your symptoms.  Can you provide more context on your issue, including the output of `mbpfan -f -v`?

[2020-03-27 14:47] paulyc commented on #214
Ah, actually does seem to have been a kernel config issue. When I built applesmc and coretemp into the kernel rather than as modules everything showed up in the expected place in coretemp. I think the module was being loaded in the wrong order, like before applesmc maybe, but it also didn't have any  dependencies on other modules so... Kernel build system bug? Kernel build system user error? 😂 Doe

[2020-03-27 14:47] #214 closed

[2020-04-06 16:03] Digital-Larry commented on #190
I'm having the same apparent issue.  I can't tell whether the fan is working, but:
a) I don't hear or feel anything coming from the Mac.
b) The left side by the power input gets really hot.

I'm using an A1278, I believe it is a 2010 13" Macbook Pro.
It has the Intel i5-3210 CPU and 4 GB RAM.  I think this makes it a version 9,2.

I'm using Ubuntu Studio 19.10, which has kernel 5.x, which might be

[2020-04-09 10:08] atisharma commented on #211
I regret I have no working mac hardware any more.

[2020-04-11 14:22] startergo commented on #207
So these are the MFC settings. How can they be translated to mbpfan settings?:

[code]

[2020-04-30 07:57] Frankjaro opened #215 "Error: max_fan_speed value is not 6200"
I tried to install it on my iMac mid 2011 (Manjaro XFCE OS) and I get the error "Error: max_fan_speed value is not 6200" . Other users are reporting this issue. Any way to fix it as many ppls are using iMacs with Arch distributions? Thanks for your wonderful work!!!

[2020-04-30 07:59] gaul commented on #215
Do you see this error when running the tests?  If so you can safely ignore this.  The test needs to be adapted for non-MacBooks.

[2020-04-30 08:22] Frankjaro commented on #215
hello and thanks for reaching back. I never did the test. I get the error at the end of the installation.  Have a look at the screenshot. I never run the test...
![Istantanea_2020-04-30_10-14-02](https://user-images.githubusercontent.com/64580312/80688665-7474e200-8acc-11ea-9c8d-3e0054ba2137.png)

[2020-04-30 09:39] Frankjaro commented on #215
running ps aux | grep mbpfan

Returns with: frances+   87732  0.0  0.0   6308  2304 pts/0    S+   11:35   0:00 grep --colour=auto mbpfan

I still dont know if it is running or not...

[2020-04-30 10:05] gaul commented on #215
Possibly an issue with the Arch/Manjaro packaging.  Maybe easier to just fix the test.  Can you run:

[code]

I don't have an iMac so I need some help to fix it.

[2020-04-30 10:08] Frankjaro commented on #215
Hey! Thanks for your help. Here is the result:

[username@username-imac121 ~]$ cat /sys/devices/platform/applesmc.768/fan*max
4350
6300
2600

[2020-04-30 10:27] #212 closed

[2020-04-30 10:27] #215 closed

[2020-04-30 10:28] gaul commented on #215
Please run `mbpfan -t` with the latest master.  However, this appears to be an Arch package issue so I will need to create another release.

[2020-04-30 10:31] Frankjaro commented on #215
Please bear me...I am a total noob...I guess when you say "Latest master" you mean the latest release (2.2.1.r2.gbc71232), right?

if so, here is the result:

sudo mbpfan -t

Starting the tests..
It is normal for them to take a bit to finish.
Error: max_fan_speed value is not 6200
Tests run: 5

Thanks again for your patience

[2020-04-30 10:38] gaul commented on #215
You would need to check out the latest source code and build it which may be educational.  But this does not change your Arch package since they will need to repackage this source code.

[2020-04-30 10:53] Frankjaro commented on #215
Ok thanks for fixing it! I will try to build it and I will also contact the guy who repckage the build at the Arch page!

[2020-04-30 11:07] Frankjaro commented on #215
sorry to bother you again...but I reinstalled the package as you said and now I got this error:

Error: max_fan_speed value is not 2600

So maybe you just mistyped the value.

Sorry again and thanks

[2020-04-30 11:09] Frankjaro commented on #215
my values are:

ODD : 1399 RPM (min = 1400 RPM, max = 4350 RPM)
HDD : 1103 RPM (min = 1100 RPM, max = 6300 RPM)
CPU : 1199 RPM (min = 1200 RPM, max = 2600 RPM)

[2020-04-30 12:15] Frankjaro opened #216 "Error: max_fan_speed value is not 2600 (old value was 6200)"
Sorry to bother you again...but I reinstalled the package as you said and now I get this error:

Error: max_fan_speed value is not 2600

So maybe a value was mistyped?

Sorry again and thanks

My values are:

ODD : 1399 RPM (min = 1400 RPM, max = 4350 RPM)
HDD : 1103 RPM (min = 1100 RPM, max = 6300 RPM)
CPU : 1199 RPM (min = 1200 RPM, max = 2600 RPM)

_Originally posted by @Frankjaro in https://gi

[2020-05-08 21:48] makcuber commented on #216
Having the same issue on a 2012 MBA running Arch. Tried editing the config file located at /etc/mbpfan.conf but it keeps saying it cant find the config file and instead uses the defaults that dont work

[2020-05-08 22:11] makcuber commented on #215
The Arch AUR package is setup as a git package, so when a user pulls the AUR package build files it rebuilds the package from the git source, which means it doesnt need repacking to get updates from the git master branch. Im getting the same error @Frankjaro is reporting in #216 with the max fan speed not 2600 error. I already mentioned my issue in that open ticket, but just wanted to comment here

[2020-05-09 09:49] JanDraak commented on #216
Can confirm having the same issue on 11,1 on fresh arch install when running `sudo mbpfan -t`

[2020-05-10 09:02] Frankjaro commented on #216
Yes, the package doesn't work anymore. A few weks ago, I asked the guy who mantains the package to fix the value for iMacs too (as there are  A LOT of iMacs with the same issue. Fans on iMacs don't work...) but he (apparently) mistyped the value (not sure about this...). The max_fan_speed for iMacs is 6300 and as far as I can understand for MBP is 6200. I am a total noob that switched to Manjaro a

[2020-05-16 16:07] elliotwutingfeng opened #217 "Commit on Apr 30, 2020 breaks compatibility with Macbook Pro 5,5. Previous commit works well."
Using a 13 inch Macbook Pro Mid 2009 (5,5) here. The commit 10d6febeb485539ed4be09f584f74f861df10299 causes my setup to throw "Error: max_fan_speed value is not 2600". Fan no longer spins up when temperature is high. I resolved it by checking out commit bc71232af281e73f9c47d1b45fcb6ae284daf480 and recompiling.

Edit: I was wrong earlier about the "Error: max_fan_speed value is not 2600" issue. It

[2020-05-17 10:26] sancarr commented on #217
Hello @elliotwutingfeng
Would you be able to share with me the process of how you installed the earlier version from the commit? I am new to Linunx/Manjaro so I am having trouble understanding what to do.

Thank you,

[2020-05-17 12:46] gaul commented on #217
@elliotwutingfeng how does this break your setup?  This is a test-only configuration that should not be run by most users.

[2020-05-17 13:51] elliotwutingfeng commented on #217
I did a HTML5 stress test comparison (https://www.antutu.com/html5/) between revisions bc71232 and 10d6feb and monitored the fan speed RPM using 'watch sensors'. In 10d6feb, the RPM remained at ~3100 consistently while in bc71232, the speeds gradually increased from ~2000 RPM to ~4300 RPM before going back down.

I was wrong earlier about the "Error: max_fan_speed value is not 2600" issue. It turn

[2020-05-19 16:00] #217 closed

[2020-05-22 09:15] Frankjaro commented on #216
On my iMac mid 2011 it is working now! It doesnt return with any error any more and I can safely change the values in the mbpfan.conf  safely.

To whoever did that: GOOD JOB anf thanks!

[2020-05-30 14:36] MoonPadUSer opened #220 "sudo make tests failed because of applesmc even though it's there"
When I run sudo make tests I get:
[code]

but the weird thing is that applesmc is builtin to my kernel
(sudo modinfo applesmc)
[code]
but, when I run `lsmod | grep smc`, there's is no output.
output of `journalctl -b | grep applesmc`:

[code]

[2020-05-31 17:21] hyperair commented on #203
Here's the comment from the source code with better descriptions on what the temperature thresholds mean: https://github.com/linux-on-mac/mbpfan/blob/52d897374d25fc7fc1d34425b93958aa583a0c64/src/mbpfan.c#L57-L59

Perhaps we need to update `mbpfan.conf` comments to match that.

[2020-06-01 14:14] juampapo546 commented on #190
Hello, I installed mbpfan and it worked fine (actually just lowered fans, when it got heaten up it didn't went up again) on ubuntu 18.04 (same imac model) but I freshly installed ubuntu 20.04 and now same issue as mentioned before is happening, the only way of making it work is uninstall and renstall. Also I noticed the process does not appear at task manager

[2020-07-10 15:15] lennypeers commented on #220
Hey, i guess you are using a new model of macbook, like me. You just have to change the directory of applesmc, wich may be different:
[code]

[2020-07-11 07:02] MoonPadUSer commented on #220
oooh, ok I see, I'll try that

[2020-07-11 07:06] MoonPadUSer commented on #220
hum, how can I find the path of the device tho?

[2020-07-11 07:22] MoonPadUSer commented on #220
Thank you very very much, I got it to work :DDD

[2020-07-11 09:36] lennypeers commented on #220
hehe np

[2020-07-11 11:00] gaul commented on #220
Can someone submit a pull request that works with the new and old paths?  I only have an older MacBook.

[2020-07-12 10:46] lennypeers commented on #220
Hi,
The applesmc driver that we use is a patched one to fit the new devices. Thes patches are not upstreamed yet so I think it is better to wait, in case there are modifications.

[2020-07-30 21:03] Markospoko commented on #203
The rest of suggestion also.

[2020-08-19 08:39] zegranix opened #221 "Linux kernel 5.8 cannot control fan speed"
Hello,

Hardware:  MacBookPro 6,1 mid-2010. Using latest version of mbpfan. Have used mbpfan for long time on Arch Linux across many upgrades with no problems.

After recent upgrade to 5.8.1 kernal, from 5.7.12, mdpfan does not work,
with error

ehost mbpfan[374]: Could not set fan speed: Input/output error
Aug 18 21:01:21 ehost kernel: applesmc: send_byte(0x40, 0x0300) fail: 0x00
Aug 18 21:01:21

[2020-08-21 07:59] GreedyCop commented on #221
Hi there.

Not sure whether there is much that I can contribute to help troubleshoot, but I'd just like to share that I experienced this same issue on my MacBookPro12,1 (13-inch, Early 2015).  After upgrading Linux 5.7.12.arch1-1 => 5.8.1.arch1-1 my fans no longer spin and I get the following output in dmesg.

`applesmc: send_byte(0xa8, 0x0300) fail: 0x40`
`applesmc: F0Tg: write data fail`

I had

[2020-08-23 13:39] MightyPrince1 opened #222 "How to unistall it"
while I'd like to use it. the fan speed is way to low

if there isn't a way to always max the fan speed
(5800 RPM)
I'll have to uninstall it

but i don't know how

right now it thermal throttles and eventually just freezes

[2020-08-24 10:01] MightyPrince1 commented on #222
after looking at the github page I found that you can change the fan-speed in 'mbpfan.conf'
great work

[2020-08-24 10:01] #222 closed

[2020-08-27 22:37] pobetiger commented on #221
Hi, just a passer by. From the error message

F%dTg is target speed (manual rw), according to: https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/drivers/hwmon/applesmc.c?h=v5.8.5#n80

So it looks like both of the fan control services return this error that claims it fails to set the target speed.
Recent changes according to the git log:

https://git.kernel.org/pub/scm/linux/ker

[2020-09-07 04:52] brianpepino opened #223 "Kernel 5.8 in Fedora 32: Cannot set fan speed error"
Hi Guys,

I am running kernel 5.8 using Fedora 32 on a Macbook Pro Retina 13'inch mid-2014 model and I encounter "cannot set fan speed" error.

Any additional details you require from me to troubleshoot this error? or is this a kernel bug?

For the time being, I am now using kernel 5.7 which has no issues.

Thanks.

[2020-09-07 05:30] gaul commented on #223
Duplicate of #221.

[2020-09-07 05:30] #223 closed

[2020-09-26 07:17] gaul commented on #216
Seems like you found a workaround.

[2020-09-26 07:17] #216 closed

[2020-10-10 11:08] SudosFTW commented on #221
Adding in my 2 cents, Debian 10 with backports kernel **5.8.0-0.bpo.2-amd64 (5.8.10-1~bpo10+1) from 2020-09-26**, on a MacMini3,1 (Early 2009 C2D 2GHz/GF9400M) and I'm getting these same errors, yet fan control is working just fine. Since this is a headless box I'm not too worried about it but I thought I'd drop this here to let you know it's not a distro-specific issue and getting updated code ou

[2020-11-16 03:35] fnarfbargle commented on #221
This should fix it :
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=7e908b7461ec395293335852485a183c16765303

[2020-12-07 14:08] ashwamegh commented on #190
Did anyone found any solution for this?
I am facing the same issue with Arch Linux on my Macbook Pro mid 2010 (7, 1).

The fans are not running and the red light near battery bar in macbook is turning red due to overheat when I am using any web browser or heavy software.

Please post here 🙏, if you have found any solution. I have installed this package from AUR (mbpfan-git).

[2020-12-08 18:26] juampapo546 commented on #190
Idk if this is ot but to fight my issue I wrote a script to control fan speed via terminal

https://github.com/juampapo546/Fan-control

[2020-12-09 13:12] ashwamegh commented on #190
Thanks @juampapo546 I will check that out.

[2020-12-27 00:35] amruizva opened #225 "<stdlib.h> not found compiling with $make"
System:
Operating System: Linux Mint 20
Kernel: Linux 5.4.0-26-generic

Fatal error compiling with make:

Output:

Compiling src/settings...
cc -c  -g  -Wall -Wextra -Wno-unused-function -std=c99 -D_POSIX_C_SOURCE=200809L -D_XOPEN_SOURCE=500 src/settings.c -osrc/settings.o
In file included from src/settings.c:37:
src/settings.h:34:10: fatal error: stdlib.h: No such file or directory
   34 | #inclu

[2020-12-27 02:34] gaul commented on #225
C89 includes stdlib.h which has been part of the standard for over 30 years.  Perhaps something is wrong with your environment?

[2020-12-28 18:20] sebadamus opened #226 "Error: max_fan_speed value is not 6200"
Hi, I came to try mbpfan on my MBP 8.2 on Linux Mint Cinnamon 20 (I came from macfanctld, this one seems to consume about 2% cpu... so giving it a try to mbpfan)

When I run mbpfan -t it gives this error:
Error: max_fan_speed value is not 6200
Dont know if it is just ok and dont have to worry.

coretemp and applesmc are detected, hope this is ok
voidnull0@mint-mpb:~$ lsmod | grep -e applesmc -e co

[2021-01-01 02:23] benji88i commented on #148
Hi There,

I was wondering how to fix this issue on my system too. I am running Fedora although with the exact same issue. After wake my fan goes into a very high speed, and does not turn down.

I clicked the link but its broken

[2021-02-10 19:39] ysguy commented on #226
Same issue on a 2011 iMac 27.

[2021-02-10 21:20] ysguy commented on #226
Try this as a maybe on a fix: echo "1" /sys/devices/platform/applesmc.768/fan1_manual
Seems to have shut up my dmesg output and fans seem to still cycle properly.

[2021-02-18 08:36] gaul commented on #221
Confirmed fixed in 5.10.

[2021-02-18 08:36] #221 closed

[2021-02-18 08:37] gaul opened #229 "Consider io_uring for polling sensors"
This may further reduce battery use on laptops.

[2021-02-26 10:10] JoanGitHubUser commented on #226
Same here on a MBP 10,1 15" Retina from 2012. I have edited /etc/mbpfan.conf manually, but dos not cause any effect. After the echo, do we need to reboot or is plug&play ?

[2021-02-26 12:25] gaul commented on #226
Don't worry about it.  These tests were not designed with a wide range of Apple hardware and spuriously fail on models which don't have the same fan speed limits.  The next version will remove this flag.

[2021-02-26 12:25] #226 closed

[2021-02-28 12:22] gaul commented on #225
Please reopen if symtoms persist.

[2021-02-28 12:22] #225 closed

[2021-02-28 12:24] gaul commented on #220
I don't understand the status of this issue.  I run Fedora 33 with kernel 5.10.7-200.fc33.x86_64 and don't see a difference in the paths.

[2021-02-28 12:25] gaul commented on #208
@ssbarnea Could you remove `-v` from your command line?

[2021-02-28 12:27] gaul commented on #198
I'm closing this since I don't have anything to act on here.  `make tests` is really intended for development use.  If you have a symptom where mbpfan does not work under normal use please open a new issue.

[2021-02-28 12:27] #198 closed

[2021-02-28 12:27] gaul commented on #203
Could someone send a pull request to improve these descriptions?

[2021-02-28 12:29] gaul commented on #190
Unfortunately this will require some community contribution since I lack access to test a desktop Mac.  If someone can grant me ssh and root access to their machine (unlikely, ha!) I can fix this otherwise I hope someone with the hardware and interest can step forward and volunteer.

[2021-02-28 12:30] gaul commented on #181
Any chance that we could move this into the main Fedora repository?

[2021-02-28 12:32] gaul opened #230 "Debian and/or Ubuntu package"
It would be great if someone could contribute a PPA or main repository package for Debian and/or Ubuntu

[2021-02-28 14:18] LyesSaadi commented on #181
It is already for a while now ! This issue can be safely closed :wink: !

[2021-02-28 14:45] gaul commented on #181
Sorry I was confused!  I actually have it installed on my laptop but use master for personal use.  Verified here:

https://dl.fedoraproject.org/pub/fedora/linux/releases/33/Everything/x86_64/os/Packages/m/

Thanks again @LyesSaadi for seeing this through!

[2021-02-28 14:45] #181 closed

[2021-03-01 21:09] JoergOstertag opened #231 "Adapt Source code formating"
As what I understood, the suggestion is to do a formating wich is clang compatible. So probably executing the command
clang-format -i  {src,tests}/*.{c,h}
will do this.

[2021-03-02 12:40] #203 closed

[2021-03-02 15:06] Markospoko commented on #203
It would be good if there was pull for "correct operation:" part as well.

[2021-03-03 01:31] hyperair commented on #203
I suspect that what's considered "correct operation" is slightly contentious. From what I can tell, the author had a specific idea of what "correct operation" means when this algorithm was designed, and it sounds like you have a different idea of what "correct operation" entails, whereas I think a PID algorithm works better for controlling my fans speed to try to match my fan speeds to the wattage

[2021-03-21 19:18] Markospoko commented on #203
Yes but I think it was about making it better, f.e. if you designed a toy car that could go straight, turn a bit left and right I could say that it could turn more left and right, go slightly faster but it wouldn't have to be different car, say Ferrari, as it used to be but modded, it wasn't technical description, only casual clues. However, did you write that yours is an upped one, different oper

[2021-07-16 20:17] playaspec commented on #190
@gaul I have a 5,1 Mac Pro I'd be happy to let you into. There's nothing important on it.  I have a couple of derelict iMacs laying around I could load Linux on as well. Could probably scare up a laptop or two as well.

[2021-07-17 03:18] gaul commented on #190
@playaspec Can you email or Twitter DM me from my contact details via my GitHub profile so you can provide login details?  Note that it is a bad idea to share these with people you don't know (like me) so I recommend using a temporary key or password.  That said, this seems like the fastest and plausible way to fix this issue.

[2021-09-07 20:51] FivePixels opened #235 "Fans start and stop abruptly"
I don't know if the program is supposed to do this, but are the fans supposed to start and stop? When using Discord, my fan speeds spin up to what sounds like the max almost immediately, and then die off to silence seconds later. Is this supposed to happen? I'm following the default configuration and I don't understand if it should be doing this so abruptly.

[2021-10-05 23:25] fiatisdead opened #237 "Error: Invalid Higher temp test"
Hi,

OS: voidlinux
Product Name: MacBookPro11,1
model name	: Intel(R) Core(TM) i7-4558U CPU @ 2.80GHz

I'm getting this when i run
`sudo mbpfan -t`

[code]

This is my current /etc/mbpfan.conf
[code]

Any help would be appreciated as I am unsure if the higher fan speed is working as I do not hear any sound of the fan.

[2021-10-11 16:52] arch-user-france1 opened #238 "Doesn't exit on signal 15&9"
It doesn't exit if I want it (using killall -s SIGNAL mbpfan)

[2021-10-11 16:53] debian-user-france1 opened #239 "Test fails but program works???"
Starting the tests..
It is normal for them to take a bit to finish.
Error: max_fan_speed value is not 6200
Tests run: 5

It says it ran 5 tests and one failed??

[2021-10-11 16:54] debian-user-france1 commented on #239
[code]

[2021-10-11 16:56] debian-user-france1 commented on #239
the fans spin up

[2021-10-11 17:18] debian-user-france1 commented on #239
It works but still... why?

[2021-10-11 17:27] arch-user-france1 opened #240 "Feauture Request: Intelligent cooling mode(s)"
I would like an intelligent cooling mode like apple already has

If the CPU temperate is 80 degrees, nothing happens but if it is like 90 for 1 minute then the fans begin spinning a lot faster
I like this feauture but I just hate that it's so long to trigger.

Maybe if you're bored you might want to do a customizable intelligent cooling mode?

[2021-10-11 22:20] #238 closed, assigned to nobody

[2021-11-20 22:09] treymerkley opened #241 "service never starts"
For some reason, I can't get the service to actually start on boot. I haven't really been able to find a lot on why it may not be running, either, looking at information on troubleshooting services in general or looking at the issues. What should I look at?

[2021-11-30 21:24] hamishmb commented on #221
Presumably doesn't need to be pinned any more, now its fixed.

[2021-12-01 05:19] gaul commented on #221
Removed the pin; thanks for the reminder!

[2021-12-24 02:23] m4nn4hun opened #242 "Runit service"
Does anyone know how to make a runit service, specially for Void and Artix?

[2021-12-24 12:18] hamishmb opened #243 "Fan speed is slower than it should be after suspend (inconsistent, hard to reproduce)"
Hi there,

Thanks for the great tool.

I have found that sometimes after suspend/hibernate on my Late 2013 Macbook Pro that the fans spin at a reduced rate or not at all when the CPU heats up. This only happens sometimes though, so I'm not sure how to debug it. I suspect that maybe there's a calculation error if the CPU is very hot when it suspends and then cool again once it wakes up after a whil

[2021-12-24 13:54] gaul commented on #243
Are there any other `dmesg` or other errors?  You can see what mbpfan is doing if you launch it without systemd and use `mbpfan -v -f`.  One possibility is that something has changed with the underlying sysfs pseudo-files that confuses the fd caching that mbpfan does.  Instead you can try to close and reopen the fds every time.

[2021-12-24 18:08] hamishmb commented on #243
I'll have a go at making it do it again and see :)

Is changing the fd behaviour possible through an option or something? I don't really know anything about fd caching.

[2021-12-25 00:42] gaul commented on #243
The code is really simple: it opens a `FILE*` during startup and uses the same one over and over, calling `pread` on the fd to avoid reopening.  `EIO` is a generic error code so this caching might obscure a more precise errno if you try reopening it instead.

[2021-12-26 05:17] ock666 opened #244 "fans spin 2000rpm slower than stated in config"
Max speed set to 8208 which worked previously, is now locked to 6500rpm, this makes my CPU VERYYY toasty. uninstalling as this is unacceptable.

[2021-12-26 06:36] #244 closed

[2021-12-26 16:34] hamishmb commented on #243
I'll try running it with debug and then suspending/resuming several times and see if anything interesting happens.

Will also send you dmesg output once I do that.

[2021-12-27 22:53] mohmorsi opened #245 "MacBook Air stuck in a boot loop"
Fans kick in during startup and mbfan tries to shut them down. Whole device crashes

[2021-12-28 00:20] gaul commented on #245
You'll have to share the output of `mbpfan -f -v` to see why it slowed the fans.

[2022-01-08 11:35] ttprodu opened #246 "Fresh install Arch Linux 5.15.13 does not working with mbpfan.git"
uname -r
[code]

lsmod | grep -e applesmc -e coretemp

[code]

/etc/mbpfan.conf
[code]
sudo mbpfan -v
[code]

cat cat /sys/devices/platform/applesmc.768/fan*_max
[code]

sensors
[code]

i did start , enable and restart service after changing config
[code]

systemctl --type=service --state=active | grep mbpfan
[code]

ps aux | grep mbp
[code]

[2022-01-21 23:57] #245 closed

[2022-01-29 23:35] JoseJupiter1 commented on #246
i have this same issue pls help.
after doing all the configuration and doing
"ps aux | grep mbp", it shows on root "/usr/sbin/mbpfan -f", does it mean some kind of fail report??

[2022-01-30 00:15] ttprodu commented on #246
mate, not sure if this is gonna help but please double check your config file. At top of the config file, you need to put [general] else it ain't gonna work. That fixed my issue.

[code]

[2022-02-04 17:01] two-dogs commented on #239
test fails, process/service work fine here
https://susepaste.org/24656000
https://susepaste.org/65338526
https://susepaste.org/48221658

[2022-02-15 00:29] FivePixels commented on #235
After running the command, I'm seeing large fluctuations in temperature values. The fan didn't spin up during any of these readouts.

[code]

[2022-02-15 00:33] FivePixels commented on #235
I should add, I'm on a Macbook Pro 11,1. When the fans do abruptly spin up for doing a very light task (loading a webpage), the right speed shoots above the Max MHz. Is that expected?

[2022-02-23 17:57] satmandu commented on #230
Is this resolved by debian packaging this here: https://salsa.debian.org/debian/mbpfan
Also here: https://packages.debian.org/source/sid/mbpfan

[2022-02-23 21:07] hamishmb commented on #243
Apologies for the large delay, I'll try and get this reproduced soon.

[2022-02-24 02:24] gaul commented on #230
Thanks for noticing this!  But I think I filed an invalid issue since the README already recommends this:

https://github.com/linux-on-mac/mbpfan#debian

[2022-02-24 02:24] #230 closed

[2022-02-26 00:04] gaul opened #247 "Release version 2.3.0"
There are few new commits https://github.com/linux-on-mac/mbpfan/compare/v2.2.1...master but this removes the misleading tests from the main binary in 52d897374d25fc7fc1d34425b93958aa583a0c64.  Need to bump the version number and review any outstanding PRs.

[2022-02-26 05:16] gaul commented on #240
I think mbpfan already works this way?  You can use `mbpfan -f -v` to see what it is doing and configure the behavior via the config file.

[2022-02-26 05:17] #231 closed

[2022-02-26 05:17] gaul commented on #239
This test isn't recommended for users and will be removed/reparented in 2.3.0

[2022-02-26 05:17] #239 closed

[2022-02-26 05:20] #213 closed

[2022-02-26 05:23] gaul commented on #208
Please reopen if the suggested workaround does not suffice.

[2022-02-26 05:23] #208 closed

[2022-02-26 05:26] gaul commented on #241
Does mbpfan work correctly when manually invoked, e.g., via `mbpfan -v -f`?

[2022-02-26 05:26] gaul commented on #246
Please reopen if symptoms persist.

[2022-02-26 05:27] gaul commented on #237
The tests aren't really well supported and are only intended for development.  I recommend using `mbpfan -f -v` to determine what it is doing and trying different config values.

[2022-02-26 17:53] LyesSaadi commented on #247
Hey :wave: ! Could you tag & release?

[2022-02-26 22:18] FivePixels commented on #235
I think a percentage would be more informative. I guess I just don't understand why such little tasks cause such a load on the computer. Do the numbers look like they are correct?

I ran this shell script, which causes the fans to go at what I think is full blast.
[code]

and this was the output:
[code]

My concern is that before moving to Linux on my MacBook Pro, the fans wouldn't spin up really

[2022-02-26 22:27] FivePixels commented on #235
Output of `sudo dmidecode --type 1 | grep "Product Name:"` and `grep 'model name' /proc/cpuinfo`:
[code]

[2022-03-03 00:52] jeremiah-miller opened #248 "Update PIDFile= in mbpfan.service"
I ran into this today https://bbs.archlinux.org/viewtopic.php?id=243455 I noticed my computer was warm and the fan didn't run so I ran ran systemctl status mbpfan.service and saw the same error as described here. Unfortunately I already rebooted so I don't have the exact error to copy

[2022-03-03 22:08] jeremiah-miller commented on #248
[code]

[2022-03-04 07:52] tmanok opened #249 "Couldn't read configfile - 2022 Linux LTS Kernel Linux Mint 20.3"
Hi Everyone,

I'm experiencing something similar to [this issue](https://github.com/linux-on-mac/mbpfan/issues/212#ref-commit-bd1248e) with Linux Mint 20.3 on a 2010 27" iMac (i5-750).

The program operates at its defaults, however it does not read the configuration file (currently in /etc/mbpfan.conf as it should be with readable permissions, it's also running as root from systemd (default for ap

[2022-03-05 05:39] gaul commented on #247
Done: https://github.com/linux-on-mac/mbpfan/releases/tag/v2.3.0

[2022-03-05 05:39] #247 closed

[2022-03-06 16:21] LyesSaadi commented on #247
Thank you!

[2022-04-13 20:09] hamishmb commented on #243
I no longer have the mac I was seeing this issue on, but I'll see if I can reproduce on an older Mac Mini (Late 2007) once I have repaired it.

[2022-06-10 11:35] breversa opened #251 "Tested mbpfan on an iMac 2008"
Hi!

I've installed mbpfan on an iMac 2008:
[code]

As soon as mbpfan started, the fan ramped up in speed and became overly noisy.

I had a look at `/etc/mbpfan.conf`, and changed the values as follows:
[code]

In detail, the changed values were:
- uncomment and set `min_fan1_speed` to **1200** (*lowest* value of "`cat /sys/devices/platform/applesmc.768/fan*_min`")
- uncomment and set `max_fan1_sp

[2022-06-30 12:22] thisivanhoe commented on #251
My iMac is a bit newer, [late 2009](https://everymac.com/systems/apple/imac/specs/imac-core-i7-2.8-27-inch-aluminum-late-2009-specs.html).

[code]

The tweaking of _mbpfan's config_ for keeping down CPU-, and especially GPU-heat levels took me a full day. Here are the relevant parts from my mbpfan.config:
[code]
The senors command shows how the behave:
[code]
So now, the fans only start getting no

[2022-06-30 12:30] breversa commented on #251
Thanks!
I actually solved the issue and forgot about it, and as the computer has been shipped since, I can't look back at what I did. :-/

However, I think my issue came from the fact that I've had been tinkering with the older `macfanctl` before trying `mbpfan`. IIRC, after reinstalling Linux and installing mbpfan only, I did not encounter the issue.

I may not recall properly though, as I was go

[2022-06-30 16:47] thisivanhoe commented on #211
I posted this today, regarding multiple fans:

https://github.com/linux-on-mac/mbpfan/issues/251#issuecomment-1171152270

[2022-08-21 11:33] arch-user-france1 commented on #240
I'm not sure but what I know is that apple systems don't overheat usually, or only a little bit.
The problem is apple's cooling system, how it works, itself!

I'm not using mbpfan anymore.. So I will close that.

[2022-08-21 11:33] #240 closed

[2022-10-17 13:17] NeNoKrk opened #254 "Mac Mini 4,1 problem on boot"
Hi,
first of all thanks for your work.
I have problem with mbpfan.service during boot on Debian 11.
Errors are:

lis 17 14:50:03 hodor systemd[1]: Started A fan manager daemon for MacBook Pro.
lis 17 14:50:03 hodor mbpfan[462]: mbpfan 2.2.0 starting up
lis 17 14:50:03 hodor mbpfan[462]: mbpfan could not detect any fan. Please contact the developer.
lis 17 14:50:03 hodor systemd[1]: mbpfan.service:

[2022-10-22 03:01] mrjoecastellon opened #255 "mbpfan.service works great, but not starting on boot"
TL;DR
mbpfan runs spectacularly well on my 2015 base model MacBook Pro 13. The service ALMOST never starts at boot though.

I am running Arch Linux on Endeavour OS. I installed the AUR package through `yay -S mbpfan-git`

I followed the following steps to install the service for boot:
[code]

All steps completed with no errors or warnings.

I always check the service after a reboot, and so far, ou

[2022-10-28 13:06] heimoshuiyu commented on #255
This problem was fixed in PR <https://github.com/linux-on-mac/mbpfan/pull/253> .

However the aur package is not updated to install the file `/lib/modules-load.d/mbpfan.depend.conf`.

You may manually copy this file to your system, or modify the `PKGBUILD` file in aur, or get rid of aur and install mbpfan using `make install`

[2022-10-28 13:10] mrjoecastellon commented on #255
Thank you very much!

[2022-11-01 00:35] NeNoKrk commented on #254
Solution found at
[https://github.com/linux-on-mac/mbpfan/pull/253#issue-1338089994](url)

[2022-11-01 00:35] #254 closed

[2022-11-06 18:19] katbyte opened #256 "Unable to load applesmc on a Macmini8,1 (A1993) for fan control"
I was following the instructions on the readme and get this error when trying to load applesmc

[code]

dmesg:
[code]

Linux version: `Linux version 5.19.7-2-pve (build@proxmox) (gcc (Debian 10.2.1-6) 10.2.1 20210110, GNU ld (GNU Binutils for Debian) 2.35.2) #1 SMP PREEMPT_DYNAMIC PVE 5.19.7-2 (Tue, 04 Oct 2022 17:18:40 +`

Any ideas of what could be causing this/how I can fix it? I have reset SMC

[2022-11-06 21:20] gaul opened #257 "mbpfan needs a new maintainer"
I bought a Dell XPS 9315 and plan to retire my MBA 2014 so I won't be able to test mbpfan any more.

[2022-11-06 21:21] gaul commented on #248
Fixed by #252.

[2022-11-06 21:21] #248 closed

[2022-11-20 16:05] heimoshuiyu commented on #255
The aur package already fixed this issue <https://aur.archlinux.org/cgit/aur.git/commit/?h=mbpfan-git&id=03288aa0926e980fbd456665047a4bda5fc9c5fd>